<div class="editPrmModal">
<div class="modal-header">
    <h4 class="modal-title">Edit Parameters - {{modal_group}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('A')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <div class="modal-body"> 
        <app-hardness-slider></app-hardness-slider>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-select-cancel" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-select-cancel" (click)="activeModal.close('A')">Cancel</button>
    <button type="button" class="btn btn-select" (click)="set()">Set</button>
  </div>
</div>
