.radio {
    padding-left: 50px;
  }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-size: medium;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #555555;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    margin-top:4px;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    margin-top:4px;
  }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  .radio.radio-inline {
    margin-top: 0;
  }
  input[type="checkbox"].styled:checked + label:after,
  input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  input[type="checkbox"] .styled:checked + label::before,
  input[type="radio"] .styled:checked + label::before {
    color: #fff;
  }
  input[type="checkbox"] .styled:checked + label::after,
  input[type="radio"] .styled:checked + label::after {
    color: #fff;
  }

  ::ng-deep {
/*     .customSilder .ng5-slider .ng5-slider-tick{
        margin-left: 0px !important;
    } */
    .customSilder .ng5-slider .ng5-slider-bubble {
        top:15px;
    }

    .customSilder .ng5-slider .ng5-slider-pointer {
      background-color: #676767;
    }
    .customSilder .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
      background-color: var(--btn-bg-select-color);
    }
    .ng5-slider .ng5-slider-selection {
      background-color: #676767;
    }
  }

  .sliderTextBox{
    position: relative;
    font-size: medium !important;
    text-align: center;
  }

  .editPrmModal{
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-control.is-invalid{
    background-image: none;
    padding-right: 1rem;
}

//   .sliderTB {
//       top:60px;
//       position: relative;
//   }

  