
<!-- <label class="col-form-label">{{InputParamList.GetItem('SecondaryApplication')?.valuedefault}}</label> -->
<div class="container-fluid ml-0 pl-0 mt-0 pt-4"> 
<div class="form-group">
    <div class="form-group row">
        <div class="pl-2">
            <label  class="col-form-label">Operation Data</label>
        </div>
        <div class="pl-2"> 
            <button class="btn btn-select btn-block" (click)="GetResult()" [routerLink]="['/results']">Get Result</button>                                       
        </div>
    </div>
    <div>
        <label class="col-form-label">{{SecApp}}</label>
    </div>
    <div>
        <label class="col-form-label">{{SecAppName}}</label>
    </div>
   <!--  <div >
        <button class="btn btn-select btn-block" (click)="open()">open component</button>                                       
    </div> -->
</div>

<!-- <app-appdetails59 *ngIf="opendetails"  [Ipl]=Ipl></app-appdetails59>
</div> -->