
<div class="container-fluid ml-0 pl-0 mt-0  pr-0" >   
     <div class="form-group row col-12">       
        <div  [ngClass]="msrv_StMng.IsTabToolDataOpen ? 'width-tooldata  border-right-gray border-left-gray  pt-2' : 'col-cust-5 border-right-gray border-left-gray  ml-0 pl-0 pl-0 pr-0 pt-2'">
            <div class="pt-4"  >
                <div class="form-group" >                     
                    <a  [ngClass]="msrv_StMng.IsTabToolDataOpen ?'cursor-pointer float-right':'pl-3 cursor-pointer float-center'" (click)="showtooldata()">                        
                        <i  [ngClass]="msrv_StMng.IsTabToolDataOpen ? 'fa fa-chevron-left icon-open' : 'fa fa-chevron-right icon-open'"></i>
                    </a>                            
                    <div>                    
                        <label [ngClass]="msrv_StMng.IsTabToolDataOpen ? 'siteTitle text-nowrap':'siteTitle text-nowrap vertical-text'">Tool Data</label>                    
                    </div>
                    <div>
                        <app-optimizetool  *ngIf = "isLoaded&&msrv_StMng.IsTabToolDataOpen&&MainApp!='IS'" ></app-optimizetool>
                        <app-optimizetool990  *ngIf = "isLoaded&&msrv_StMng.IsTabToolDataOpen&&(MainApp=='IS')" ></app-optimizetool990>
                    </div>                  
                </div>           
            </div> 
        </div>
        <div [ngClass]="msrv_StMng.IsTabToolDataOpen ? 'border-right-gray width-appdetails pl-2 pr-0  pt-4':'border-right-gray col-cust-95 pl-0 pr-0  pt-4'">
            <div class="form-group">
                <div class="form-group row col-12"> 
                    <div  class= "float-left pl-3">                                       
                        <label  class="float-left siteTitle col-form-label">{{'Operation Data' | translate}}</label> 
                    </div>                    
                    <div class= "ml-auto mr-4">                     
                        <button class="col-12 btn btn-select" (click)="GetResult()">{{'Get Results'| translate}}</button>                                                           
                    </div>
                 </div>
                <div>
                    <button type="button" class="btn sileLinks pl-3" (click)="ClearDataChild()">{{'Clear All'| translate}}</button>
                </div> 
                <div class="pt-0">         
                    <app-appdetails59 *ngIf = "isLoaded && (SecApp=='760'||SecApp=='770'||SecApp=='57')"  [events]="eventsSubject.asObservable()"></app-appdetails59>
                    <app-appdetails780 *ngIf = "isLoaded && SecApp=='780'"  [events]="eventsSubject.asObservable()"></app-appdetails780>
                    <app-appdetails790 *ngIf = "isLoaded && SecApp=='790'"  [events]="eventsSubject.asObservable()"></app-appdetails790>
                    <app-appdetails77 *ngIf = "isLoaded && SecApp=='77'"  [events]="eventsSubject.asObservable()"></app-appdetails77>
                    <appdetails120 *ngIf = "isLoaded && (SecApp=='120' || SecApp=='119')"  [events]="eventsSubject.asObservable()"></appdetails120> 
                    <appdetails990 *ngIf = "isLoaded && (SecApp=='990' || SecApp=='980' || SecApp=='970' || SecApp=='960')"  [events]="eventsSubject.asObservable()"></appdetails990>   
                    <appdetails890 *ngIf = "isLoaded && (SecApp=='890' || SecApp=='880' || SecApp=='870' || SecApp=='860' || SecApp=='850')"  [events]="eventsSubject.asObservable()"></appdetails890>                 
                    <appdetails52  *ngIf = "isLoaded && (SecApp=='52' || SecApp=='53' || SecApp=='50')" [events]="eventsSubject.asObservable()"></appdetails52>   
                    <appdetails1  *ngIf = "isLoaded && SecApp=='1'" [events]="eventsSubject.asObservable()"></appdetails1> 
                    <appdetails51  *ngIf = "isLoaded && SecApp=='51'" [events]="eventsSubject.asObservable()"></appdetails51>               
                    <appdetails54  *ngIf = "isLoaded && (SecApp=='54' || SecApp=='10'  || SecApp=='188')" [events]="eventsSubject.asObservable()"></appdetails54>
                </div>
            </div>
        </div>           
     </div>
</div> 