
.vertical-text
{
transform: rotate(270deg);
transform-origin: 80% 140%;
}

.icon-open
{
   font-size:24px;
   color:var(--btn-bg-gray-color) ;
}

/* .div-tooldata-closed
{
    width:3%;
    min-width: 40px;
}

.div-operation-data-maximize
{
    width:97%;   
} */