/* 
.vertical-text
{
transform: rotate(270deg);
transform-origin: 70% 140%;
}

.icon-open
{
   font-size:20px;
   color:var(--btn-bg-gray-color) ;
}

.col-cust-5 {
      flex: 0 0 5%;
      max-width: 5%;
  }
  
.col-cust-95 {
      flex: 0 0 95%;
      max-width: 95%;
  } */

//@import "bootstrap"; 
//@import 'src/styles.scss';
.vertical-text
{
transform: rotate(270deg);
transform-origin: 70% 140%;
}

.icon-open
{
   font-size:20px;
   color:var(--btn-bg-gray-color) ;
}

.col-cust-5 {
      flex: 0 0 5%;
      max-width: 5%;
  }
  .col-cust-95 {
      flex: 0 0 95%;
      max-width: 95%;
  }

/* .width-tooldata {
    @extend .col-sm-12 ;
    @extend .col-md-12 !optional;
    @extend .col-lg-4 !optional;
    @extend .col-xl-3 !optional;
}

.width-appdetails {
    @extend .col-sm-12 !optional;
    @extend .col-md-12!optional;
    @extend .col-lg-8 !optional;
    @extend .col-xl-9!optional;
} */

/* @include media-breakpoint-up (xs){ 
 .btn-select  
 { 
    min-width:150px;
    max-width: 150px;
  
}
.btn-select-selected 
  {    
    min-width:150px;
    max-width: 150px;   
  }

  .btn-select-selected:hover
  {     
    min-width:150px;
    max-width: 150px;   
  }
 } */
  

  

  

  

