 @import "bootstrap"; 
 @import 'src/styles.scss';
.vertical-text
{
transform: rotate(270deg);
transform-origin: 70% 140%;
}

.icon-open
{
   font-size:20px;
   color:var(--btn-bg-gray-color) ;
}

.col-cust-5 {
      flex: 0 0 5%;
      max-width: 5%;
  }
  .col-cust-95 {
      flex: 0 0 95%;
      max-width: 95%;
  }
 
.width-tooldata {
    @extend .col-sm-12;
    @extend .col-md-12;
    @extend .col-lg-4;
    @extend .col-xl-3;
}

.width-appdetails {
    @extend .col-sm-12;
    @extend .col-md-12;
    @extend .col-lg-8;
    @extend .col-xl-9;
}
  

  

