.square {
    width: 35px;
    height: 30px;
    float: left;
    margin-right:5px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .square[title*="P"]{
    background-color: var(--bg-mat-P);
    }

   .square[title*="M"]{
    background-color: var(--bg-mat-M);
    }

    .square[title*="K"]{
     background-color: var(--bg-mat-K);
    }

    .square[title*="N"]{
     background-color: var(--bg-mat-N);
    }

    .square[title*="S"]{
     background-color: var(--bg-mat-S);
     }

   .square[title*="H"]{
     background-color: var(--bg-mat-H);
       }

       .tableTitle{
        color:var(--btn-bg-select-color);
        padding-left: 5px;
        padding-top: 8px;
    }
    .divst{
      background: var(--bg-gray);
    }