.square {
    width: 35px;
    height: 30px;
    float: left;
    margin-right:5px;
    justify-content: center;
    display: flex;
    align-items: center;
    color:white !important;
  }

  .square label{
    color:white !important;
  }

  .square[title*="M"] label{
    color:black !important;
  }
  .square[title*="P"]{
    background-color: var(--bg-mat-P) !important;
    }

   .square[title*="M"]{
    background-color: var(--bg-mat-M) !important;
    
    }

    .square[title*="K"]{
     background-color: var(--bg-mat-K) !important;
    }

    .square[title*="N"]{
     background-color: var(--bg-mat-N) !important;
    }

    .square[title*="S"]{
     background-color: var(--bg-mat-S) !important;
     }

   .square[title*="H"]{
     background-color: var(--bg-mat-H) !important;
       }

       .tableTitle{
        color:var(--btn-bg-select-color);
        padding-left: 5px;
        padding-top: 8px;
    }
    .square h4{
      margin-bottom: 0px;
    }
    .divst{
      background: var(--bg-gray);
    }

    ::ng-deep .customModalClass .modal-dialog { 
      max-width: 684px;

 }
 ::ng-deep .customModalClass .modal-backdrop.fade{
  transition: none !important;
}

 .table thead th[title*="P"]{
  background-color: var(--bg-mat-P) !important;
  color:white !important;
  }

 .table thead th[title*="M"]{
  background-color: var(--bg-mat-M) !important;
  }

  .table thead th[title*="K"]{
   background-color: var(--bg-mat-K) !important;
   color:white !important;
  }

  .table thead th[title*="N"]{
   background-color: var(--bg-mat-N);
   color:white !important;
  }

  .table thead th[title*="S"]{
   background-color: var(--bg-mat-S) !important;
   color:white !important;
   }

 .table thead th[title*="H"]{
   background-color: var(--bg-mat-H) !important;
   color:white !important;
     }


     .col-20 {
      flex: 0 0 20%;
      max-width: 20%;
  }
  .col-80 {
      flex: 0 0 80%;
      max-width: 80%;
  }


  .icon-edit{
    width:25px;
    padding-right:5px;
    cursor: pointer;
    // margin-left:-20px;
    }
    
    // .table td, .table th{
    //     // white-space: nowrap;
    // }
    
    table.dataTable {
        border-collapse: collapse !important;
    }
