
.input-image
{
   width:100% ;
}

.input-min-width
{
    min-width: 80px;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;  
}

.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
   
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.slope-select
{
  background-color: var(--btn-bg-select-color);
  border-color: var(--btn-bg-select-color);
}

.slope-no-select
{
  background-color:var(--background-color-menu);
  border-color: var(--btn-bg-select-color);
}
 
 
  