<div class="container" class="p-0 m-0" >
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 ">    
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4 text-center">
                    <label class="pl-0 pt-1 pl-2">{{'Solid Material' | translate}}</label>
                </div> 
                <div class="col-4 text-center">
                    <label class="pl-0 pt-1 pl-2">{{'Pre Hole' | translate}}</label>
                </div>   
            </div>
            <div class="row">
                <div class="col-4 pl-0">                  
                    <div>                   
                        <label>{{'Through hole' | translate}}</label>
                    </div>            
                    <div class="pt-2">                           
                        <label>{{'Blind hole' | translate}}</label>
                    </div>      
                </div>
                <div class="col-4  text-center">                    
                        <div class="custom-control custom-radio custom-control">
                                <input type="radio" class="custom-control-input" id="optThroughSolid" name="HoleTypeSolid" checked (change)="changeSolidHole('Solid_Through')" [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('HoleTypeSolid').value" value="Through">
                                <label class="custom-control-label" for="optThroughSolid"></label>
                        </div>            
                            <div class="custom-control custom-radio custom-control">
                                <input type="radio" class="custom-control-input" id="optBlindSolid" name="HoleTypeSolid" (change)="changeSolidHole('Solid_Blind')" [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('HoleTypeSolid').value" value="Blind">
                                <label class="custom-control-label" for="optBlindSolid"></label>
                            </div>                               
                    </div>
                    <div class="col-4  text-center"> 
                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="optThroughHole" name="HoleTypeHole"  (change)="changeSolidHole('Hole_Through')"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('HoleTypePreHole').value" value="Through">
                            <label class="custom-control-label" for="optThroughHole"></label>
                    </div>            
                    <div class="custom-control custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="optBlindHole" name="HoleTypeHole" (change)="changeSolidHole('Hole_Blind')"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('HoleTypePreHole').value" value="Blind">
                            <label class="custom-control-label" for="optBlindHole"></label>
                    </div>        
                </div>                    
            </div>
            <div class="row" *ngIf="HoleType=='Solid'">               
                 <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-2">
                    <label class="pl-0 pt-4">{{'Hole Diameter (DH)' | translate}}</label>
                    <label class="pl-2 asterisk-red pt-4">*</label>
                </div>
                <div class="col-7 pt-3">                   
                    <div class="row pt-2">
                        <div class="col-xl-5 col-lg-10 col-md-10 col-sm-10 col-10   pl-0 row">
                            <div class="col-4">
                                <label>{{'Min' | translate}}</label>
                            </div>
                            <div class="col-8 ">
                                    <input type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2Min').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2Min').value=='0' ? 'form-control input-empty input-min-width': 'form-control input-min-width'"  
                                    (change)="SetIPLMandatory('D2Min')"  [(ngModel)]="msrv_StMng.IPL.GetItem('D2Min').value"  (focus)="onfocusfield('D2Min')" (focusout)="onfocusoutfield()"> 
                            </div>           
                        </div>                            
                        <div class="col-xl-5 col-lg-10 col-md-10 col-sm-10 col-10  row">
                            <div class="col-4">
                                <label>{{'Max' | translate}}</label>
                            </div>
                            <div class="col-8">
                                <input type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2Max').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2Max').value=='0' ? 'form-control input-empty input-min-width': 'form-control input-min-width'" 
                                (change)="SetIPLMandatory('D2Max')"   [(ngModel)]="msrv_StMng.IPL.GetItem('D2Max').value" (focus)="onfocusfield('D2Max')" (focusout)="onfocusoutfield()">
                            </div>
                            
                        </div> 
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2  ">
                            <label>{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                        </div>         
                    </div>   
                </div>                             
            </div>          
            <div class="row" *ngIf="HoleType=='PreHole'">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-3">
                        <label class="pl-0 pt-3">{{'Pre Hole Diameter' | translate}}{{' (DPH)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-3 pl-0">
                        <input type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D3').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D3').value=='0' ? 'form-control input-empty input-min-width': 'form-control input-min-width'" id="txtDepth" name="txtDepth" 
                        (change)="SetIPLMandatory('D3')"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D3').value" (focus)="onfocusfield('D3')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-1 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
            </div> 
                 <div class="row" *ngIf="HoleType=='PreHole'">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-2">
                        <label class="pl-0 pt-3">{{'Hole Diameter (DH)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2').value=='0' ? 'form-control input-empty input-min-width': 'form-control input-min-width'" id="txtDepth" name="txtDepth" 
                        (change)="SetIPLMandatory('D2')"   [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('D2').value" (focus)="onfocusfield('D2')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-1 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
            </div>                
            <div class="row">
                <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-2">
                    <label class="pl-0 pt-2">{{'Depth (D)' | translate}}</label>

                    <label class="pl-2 asterisk-red pt-2">*</label>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-2 pl-0">
                    <input type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value=='0' ? 'form-control input-empty input-min-width': 'form-control input-min-width'" id="txtDepth" name="txtDepth" (change)="OnDepthChange()"
                    (change)="SetIPLMandatory('Depth')"    [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value" (focus)="onfocusfield('Depth')" (focusout)="onfocusoutfield()"> 
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-2 pl-0">
                    <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                </div>
            </div>
            <div  *ngIf="msrv_appsetting.isMobileResolution">
                <div *ngIf="ImageName!=''" >
                    <img src="{{ImageName}}" class="input-image">   
                </div>
            </div> 
            <div class="form-group"> 
                <div class="pl-0 pt-3">
                    <label>{{'Machining Stability' | translate}}</label>
                </div>
                <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="optNormal" name="MachiningStability" checked [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Clamping').value" value="Stable">
                        <label class="custom-control-label" for="optNormal">{{'Stable' | translate}}</label>
                    </div>            
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="optUnstable" name="MachiningStability" [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Clamping').value" value="Unstable">
                        <label class="custom-control-label" for="optUnstable">{{'Unstable' | translate}}</label>
                    </div>                        
                </div>
            </div>
            <div class="form-group">  
                <div class="pt-4 pb-0">                                  
                    <label  class="siteTitle col-form-label">{{'Economic Data' | translate}}</label> 
                </div>
                <div class="form-group row pt-0">
                    <div class="row col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label for="txtBatchSize" class="pl-0 pt-3">{{'Batch Size For Cost Calculation' | translate}}</label>                    
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value=='0'? 'form-control input-empty input-min-width':'form-control input-min-width'"  id="txtBatchSize" name="txtBatchSize" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value"  
                                            (change)="SetIPLMandatory('BatchSize')"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{'Units' | translate}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="row col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label for="txtBatchSize" class="pl-0 pt-3">{{'Machine Cost' | translate}}</label>                    
                    </div>                   
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-1 pl-0">                    
                        <!-- <input  type="number"  class="form-control input-min-width"  id="txtMachineCost" name="txtMachineCost" 
                                           value={{CostPerHourByRate}} readonly>   -->
                        <Label  class="pt-3 input-min-width"  id="txtMachineCost" name="txtMachineCost">{{CostPerHourByRate}}{{' '}}{{msrv_appsetting.Currency}}/{{'hour' | translate}}</Label></div>                    
                    <!-- <div class="row pt-0 pl-0">
                        <label class="pl-0 pt-3 ">{{msrv_appsetting.Currency}}</label>
                        <label class="pl-0 pt-3">/{{'hour' | translate}}</label>
                    </div> -->
                </div> 
            </div>     
            <div class="pt-4">

            </div> 
        </div>
        <div *ngIf="!msrv_appsetting.isMobileResolution" class="col-xl-6 col-lg-6  col-md-5 pr-4 pt-1 div-input-image">
            <div *ngIf="ImageName!=''">
                <img src="{{ImageName}}" class="input-image">   
            </div>
        </div>    
    </div>
</div>