<p>app-item-machine-spindle-chart works!</p>
<div>
<!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div>   -->

 <!--  <canvas mdbChart
  	[attr.chartType]="chartType"
	  [attr.datasets]="chartDatasets"
	  [attr.labels]="chartLabels"
	  [attr.colors]="chartColors"
	  [attr.options]="chartOptions"
	  [attr.legend]="true"
	  (chartHover)="chartHovered($event)"
	  (chartClick)="chartClicked($event)">   
</canvas>   -->

<!-- <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">   
  </canvas>  --> 
</div>
