
<div class="container-fluid ml-0 pl-0" >
  <div class="pt-4 ml-0 pl-0">   
     <div class="form-group row ml-0 pl-0" >       
       <div class="pt-0 col-12 col-md-12 col-sm-12 col-xl-6 col-lg-6 pl-0 ml-0">
        <div class="d-flex justify-content-center">
            <p>{{chartDesc | translate}}</p>
        </div>
          <canvas  baseChart 
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"    
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)" 
              [legend]="true">   
          </canvas>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-xl-6 col-lg-6 pt-2 pr-0" *ngIf="!exportPDF">   
           <div class="form-group row  pr-0">
                <div class="col-4"> </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 d-flex justify-content-center">
                    <label for="txtPoint2" class="col-form-label">N[rpm]</label>                
                </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 d-flex justify-content-center" >
                    <label for="txtPoint2" class="col-form-label">{{chartDescY | translate}}</label>
                </div>
            </div>
           <div class="form-group row  pr-0">
               <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                    <label for="txtPoint1" class="col-sm col-form-label text-nowrap">{{ 'Point' | translate}} {{'1'}}</label>
               </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-2">
                    <input type="number" class="form-control input-chart " id="txtX1" name="txtX1" [(ngModel)]="spindle.N1"
                     (ngModelChange)="chartdata.PoinX_1=$event ;OnChangePoinX_1(); CreateChart(); " (change)="CheckRPMMax(spindle.N1,'N1')">                     
                </div>
           
                <div *ngIf="typeChart=='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                    <input type="number" class="form-control input-chart"  [attr.id]="'txtY1'+typeChart"  name="txtY1" [(ngModel)]="spindle.P1" 
                     (ngModelChange)="chartdata.PoinY_1=$event ;OnChangePoint(1); OnChangePoinY_1();CreateChart()"> 
                </div>
                <div *ngIf="typeChart!='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                    <input type="number" class="form-control input-chart"  [attr.id]="'txtY1'+typeChart"  name="txtY1" [(ngModel)]="spindle.T1" 
                     (ngModelChange)="chartdata.PoinY_1=$event ;OnChangePoint(1); OnChangePoinY_1();CreateChart()"> 
                </div>
            </div>       
          
              <div class="form-group row  pr-0">
                  <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                <label for="txtPoint2" class="col-sm col-form-label  pt-2 text-nowrap">{{'Point' | translate}}{{' 2'}}</label>
                  </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-2">
                    <input type="number" class="form-control input-chart" [attr.id]="'txtX2' + typeChart" name="txtX2" [(ngModel)]="spindle.N2" 
                    (ngModelChange)="chartdata.PoinX_2=$event ;CreateChart()" (change)="CheckRPMMax(spindle.N2,'N2')"> 
                </div>
           
                <div *ngIf="typeChart=='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control input-chart" [attr.id]="'txtY2' + typeChart" name="txtY2" [ngModel]="spindle.P2" 
                    (ngModelChange)="chartdata.PoinY_2=$event ;OnChangePoint(2); OnChangePoinY_2();CreateChart()"> 
                </div>
                <div *ngIf="typeChart!='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control input-chart" [attr.id]="'txtY2' + typeChart" name="txtY2" [ngModel]="spindle.T2" 
                    (ngModelChange)="chartdata.PoinY_2=$event ;OnChangePoint(2);OnChangePoinY_2(); CreateChart()"
                    > 
                </div>
            </div>   
               <div class="form-group row  pr-0">
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                    <label for="txtPoint3" class="col-sm col-form-label  pt-2 text-nowrap">{{'Point' | translate}}{{' 3'}}</label>
                </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-2">
                <input type="number" class="form-control  pt-2 input-chart" [attr.id]="'txtX3' + typeChart" name="txtX3" [(ngModel)]="spindle.N3" 
                    (ngModelChange)="chartdata.PoinX_3=$event ;OnChangePoinX_3(); CreateChart()" (change)="CheckRPMMax(spindle.N3,'N3')"> 
                </div>
            
                <div *ngIf="typeChart=='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control  pt-2" [attr.id]="'txtY3' + typeChart" name="txtY3" [(ngModel)]="spindle.P3" 
                    (ngModelChange)="chartdata.PoinY_3=$event ;OnChangePoint(3); OnChangePoinY_3();CreateChart()">
                </div>
                <div *ngIf="typeChart!='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control  pt-2" [attr.id]="'txtY3' + typeChart" name="txtY3" [(ngModel)]="spindle.T3" 
                     (ngModelChange)="chartdata.PoinY_3=$event ;OnChangePoint(3); OnChangePoinY_3();CreateChart()">
                </div>
            </div>  
            <div class="form-group row  pr-0">
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 pl-0 pr-0">
                    <label for="txtPoint3" class="col-sm col-form-label  pt-2 text-nowrap">{{'Point' | translate}}{{' 4'}}</label>
                </div>
                <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-2">
                    <input type="number" max='100000' class="form-control  pt-2 input-chart" [attr.id]="'txtX4' + typeChart" name="txtX4" [(ngModel)]="spindle.N4" 
                    (focusout)="OnChangePoinX_4()" (ngModelChange)="chartdata.PoinX_4=$event ;CreateChart()" (change)="CheckRPMMax(spindle.N4,'N4')">
                </div>
            
                <div *ngIf="typeChart=='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control input-chart" [attr.id]="'txtY4' + typeChart" name="txtY4" [(ngModel)]="spindle.P4" 
                    (ngModelChange)="chartdata.PoinY_4=$event ;OnChangePoint(4); OnChangePoinY_4();CreateChart()">
                </div>
                <div *ngIf="typeChart!='power'" class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4  pt-2 pl-0 pr-0">
                    <input type="number" class="form-control input-chart" [attr.id]="'txtY4' + typeChart" name="txtY4" [(ngModel)]="spindle.T4" 
                    (ngModelChange)="chartdata.PoinY_4=$event ;OnChangePoint(4); OnChangePoinY_4();CreateChart()">
                </div>
            </div> 
            <div class="form-group row">
              <div class="pr-3 col-4  pt-2"> </div>
              <div class="pr-3 col-8  pt-2 pl-0" *ngIf="!exportPDF">
                  <button class="btn btn-select btn-block" (click)="CreateChart()">{{'Calculate' | translate}}</button>                                       
              </div>
            </div>
        </div>
     </div>
    </div>    
  </div>

