/* #example table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png);
}

#example table.dataTable thead .sorting_desc {
    background-image: url(../images/sort_desc.png);
}

#example table.dataTable thead .sorting { background-color: red no-repeat center right; }
#example table.dataTable thead .sorting_asc { background-color: red no-repeat center right; }
#example table.dataTable thead .sorting_desc { background-color: red no-repeat center right; }

#example table.dataTable thead .sorting_asc_disabled { background-color: red no-repeat center right; }
#example table.dataTable thead .sorting_desc_disabled { background-color: red no-repeat center right; } */