
<div class="container" class="p-0 m-0 pt-2">
    <div class="row">
        <div>
            <button type="button" class="btn sileLinks mb-0 pl-0 ml-0" (click)="ClearDataChild()">{{'Clear All' | translate}}</button>
        </div>       
    </div>
    <div  class="pl-0 pt-2">
        <label>{{'Internal Coolant' | translate}}</label>
        <div  class="pl-0 row">                  
            <div class="custom-control custom-checkbox col-4 pt-0">
                <input type="checkbox" class="custom-control-input" id="chkCoolantYes" name="Coolant" [(ngModel)] ="msrv_StMng.IPL.GetItem('TD_CoolantYes').value" [checked]="msrv_StMng.IPL.GetItem('TD_CoolantYes').value">
                <label class="custom-control-label" for="chkCoolantYes">{{'Standard' | translate}}</label>
            </div>                              
            <div class="custom-control custom-checkbox col-4 pt-0">
                <input type="checkbox" class="custom-control-input" id="chkCoolantNo" name="Coolant" [(ngModel)] ="msrv_StMng.IPL.GetItem('TD_CoolantNo').value"   [checked]="msrv_StMng.IPL.GetItem('TD_CoolantNo').value">
                <label class="custom-control-label" for="chkCoolantNo">{{'Without' | translate}}</label>
            </div> 
             <div class="custom-control custom-checkbox col-4 pt-0">
                <input type="checkbox" class="custom-control-input" id="chkCoolantHP" name="Coolant" [(ngModel)] ="msrv_StMng.IPL.GetItem('TD_CoolantHP').value" [checked]="msrv_StMng.IPL.GetItem('TD_CoolantHP').value">
                <label class="custom-control-label" for="chkCoolantHP">{{'High Pressure' | translate}}</label>
            </div>        
        </div>
    </div>
     <div class="form-group"> 
                <div class="pl-0 pt-3">
                    <label>{{'Tool Hand' | translate}}</label>
                </div>
                <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="optRight" name="Toolside" checked [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('GrooveToolSide').value" value="R">
                        <label class="custom-control-label" for="optRight">{{'Right Hand' | translate}}</label>
                    </div>            
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="optLeft" name="Toolside" [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('GrooveToolSide').value" value="L">
                        <label class="custom-control-label" for="optLeft">{{'Left Hand' | translate}}</label>
                    </div>                        
                </div>
            </div>
     <div class="pl-0 pt-2">
        <label>{{'Cutting Edge Material' | translate}}</label>
        <div  class="pl-0 row"> 
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optMAll" name="Material"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_ISOMat').value"   value="All">
                <label class="custom-control-label" for="optMAll">{{'All' | translate}}</label>
            </div>                              
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optMCarb" name="Material"   [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_ISOMat').value"   value="REG">
                <label class="custom-control-label" for="optMCarb">{{'Carbide' | translate}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optMAdv" name="Material"    [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_ISOMat').value"   value="ADV">
                <label class="custom-control-label" for="optMAdv">{{'Advanced' | translate}}</label>
            </div>  
        </div>
    </div>
     <div class="pl-0 pt-2">
        <label>{{'Relief angle' | translate}}</label>
        <div  class="pl-0 row"> 
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optRelAngAll" name="RelAngle"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_NegOrPosAngle').value"   value="All">
                <label class="custom-control-label" for="optRelAngAll">{{'All' | translate}}</label>
            </div>                              
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optRelAngNeg" name="RelAngle"   [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_NegOrPosAngle').value"   value="Neg">
                <label class="custom-control-label" for="optRelAngNeg">{{'Negative Angle' | translate}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optRelAngPos" name="RelAngle"    [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_NegOrPosAngle').value"   value="Pos">
                <label class="custom-control-label" for="optRelAngPos">{{'Positive Angle' | translate}}</label>
            </div>  
        </div>
    </div>
    <div class="pl-0 pt-2">
        <label>{{'Precision' | translate}}</label>
        <div  class="pl-0 row"> 
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optPrAll" name="Precision"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_PrecisionOrUtility').value"   value="All">
                <label class="custom-control-label" for="optPrAll">{{'All' | translate}}</label>
            </div>                              
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optPrP" name="Precision"   [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_PrecisionOrUtility').value"   value="P">
                <label class="custom-control-label" for="optPrP">{{'Precision' | translate}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="optPrU" name="Precision"    [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TD_PrecisionOrUtility').value"   value="U">
                <label class="custom-control-label" for="optPrU">{{'Utility' | translate}}</label>
            </div>  
        </div>
    </div>
    <div class="pt-3 mt-2">    
      <span>IC - </span><span>{{'Inscribed circle diameter' | translate}}</span>      
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_IC_MIN').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_IC_MAX').value" [options]="options_IC"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_IC_MIN').value">
               </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_IC_MAX').value">
                </div>
                <div class="pl-0">
                    <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div class="pt-3 mt-2">    
      <span>L - </span><span>{{'Cutting edge length' | translate}}</span>       
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_WMin').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_WMax').value" [options]="options_L"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_WMin').value">
               </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_WMax').value">
                </div>
                <div class="pl-0">
                    <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div class="pt-3 mt-2">    
      <span>RE - </span><span>{{'Corner radius' | translate}}</span>       
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_RadiusMin').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_RadiusMax').value" [options]="options_R"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_RadiusMin').value">
               </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_RadiusMax').value">
                </div>
                <div class="pl-0">
                    <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div class="pt-3 mt-2" *ngIf="msrv_StMng.SecApp=='990' || msrv_StMng.SecApp=='970' || msrv_StMng.SecApp=='960'">    
      <span>KAPR - </span><span>{{' Tool cutting edge angle' | translate}}</span>       
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('MinAxialEntAngle').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('MaxAxialEntAngle').value" [options]="options_Ang"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MinAxialEntAngle').value">
               </div>
              <div class="pl-0">
                <label>&#176;</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MaxAxialEntAngle').value">
                </div>
                <div class="pl-0">
                    <label>&#176;</label>
                </div>   
          </div>
      </div>   
    </div>
    
     <div class="pt-3 mt-2" *ngIf="msrv_StMng.SecApp=='980' || msrv_StMng.SecApp=='970' || msrv_StMng.SecApp=='960'">    
      <span>Kr - </span><span>{{'Tool lead angle' | translate}}</span>       
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('MinRadEntAngle').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('MaxRadEntAngle').value" [options]="options_rad_ang"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MinRadEntAngle').value">
               </div>
              <div class="pl-0">
                <label>&#176;</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MaxRadEntAngle').value">
                </div>
                <div class="pl-0">   
                    <label>&#176;</label>
                </div>   
          </div>
      </div>   
    </div>
    <div>   
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_brandnameISO"  *ngIf="isLoad" [labeldescription]="'Brand Name'"  [fieldname]="'BrandName'"     [funcname]="'BRANDISO'"    [fieldid]="'TD_BrandName'"></app-optimizetool-filter>
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_shapeISO"  *ngIf="isLoad" [labeldescription]="'Insert shape'"  [fieldname]="'Shape'"     [funcname]="'SHAPEISO'"    [fieldid]="'TD_InsertShape'"></app-optimizetool-filter>  
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_insertISO"  *ngIf="isLoad" [labeldescription]="'Insert designation'"  [fieldname]="'Inserts'"     [funcname]="'INSERTISO'"    [fieldid]="'TD_InsertDesignation'"></app-optimizetool-filter>  
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_insertISO"  *ngIf="isLoad" [labeldescription]="'Insert Catalog No'"  [fieldname]="'Inserts'"     [funcname]="'INSERTCATALOGNOISO'"    [fieldid]="'TD_InsertCatalogNo'"></app-optimizetool-filter>          
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_gradeISO"  *ngIf="isLoad" [labeldescription]="'Insert Grade'"  [fieldname]="'Grades'"     [funcname]="'GRADEISO'"    [fieldid]="'TD_Grade'"></app-optimizetool-filter>  
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_holderISO"  *ngIf="isLoad" [labeldescription]="'Holder Designation'"  [fieldname]="'Holders'"     [funcname]="'HOLDERISO'"    [fieldid]="'TD_HolderDesignation'"></app-optimizetool-filter>                
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_squareISO"  *ngIf="isLoad" [labeldescription]="'Square Designation'"  [fieldname]="'Tools'"     [funcname]="'TOOLISO'"    [fieldid]="'TD_SquareDesignation'"></app-optimizetool-filter>    
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_squarecatalogISO"  *ngIf="isLoad" [labeldescription]="'Square Catalog No'"  [fieldname]="'Tools'"     [funcname]="'TOOLCATALOGNOISO'"    [fieldid]="'TD_SquareCatalogNo'"></app-optimizetool-filter>       
        
    </div> 
</div>