.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}
.col-80 {
    flex: 0 0 80%;
    max-width: 80%;
}

.navli{
    background-color: #f0f2f4;
    width:20%;
    border-left: 1px solid var(--border-color-gray);
    border-right: 1px solid var(--border-color-gray);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #dee2e6;
    border-left: 1px solid var(--border-color-gray);
    border-right: 1px solid var(--border-color-gray);
    color: #204f96 !important;
    font-weight: normal !important;
    font-size: 18px !important;
    font-family: "Oswald",Calibri,Arial !important;
}

/* .div-machineitem1
{
    min-height:950px;
    height:950px;
    max-height:950px;   
}

.div-machineitem2
{
    min-height:2170px;
} */
/* 
.div-material
{
    height:120px!important;
} */

/* .div-machining-param1
{
    min-height:1230px;
}

.div-machining-param2
{
    min-height:2460px;
} */

.PDFDescription
{
    font-size: 20px !important;
    color:var(--btn-bg-select-color) !important;
}
.PDFTitle{
    //color:white !important;    
    font-size: 18px !important;
    font-family: var(--family-font-h) !important  ;
    margin-left: 3px;
    color:var(--btn-bg-select-color) !important;
  }

.PDFTitlediv
{
    height:30px;
    background-color: var(--btn-bg-gray-color) ;         
}

.logoImg{
    height: 50px;
}

.icon-edit{
    height:25px;
    cursor: pointer;    
}

.scrollYAutoFilter{
overflow-y: auto !important;
height: calc(100vh - 239px);
    }

.scrollYAutoMParams{
    overflow-y: auto !important;
    height: calc(100vh - 327px);
        }      

.header-pdf
{
    background-color:var(--background-color-header);
    height: 55px;
}
.header-pdf1
{
    background-color:var(--btn-bg-gray-color);
    height: 25px;
}


.labelwhite{
    color:white;
    margin-right: 25px;
  }