<footer class="footer">   
    <div class="col-12 d-flex justify-content-center pb-2 pt-2" >  
      <p class="pr-2">Any use of the ISCAR Tool Advisor program is subject to </p>
      <a href="https://www.imc-companies.com/A141203UniformTermsOfSale.pdf" style="text-decoration:underline">ISCAR's Terms of Use</a> 
      <p class="pr-2 pl-2">and</p>     
      <a href="https://www.imc-companies.com/A141203UniformTermsOfSale.pdf" style="text-decoration:underline">ISCAR's General Terms of Sale</a>
     <!--  <p>
        <a href="https://www.imc-companies.com/A141203UniformTermsOfSale.pdf">Terms Of Use</a>
      </p> -->      
    </div>
  </footer>