<footer class="footer">   
    <div class="col-12 d-flex justify-content-center pb-2 pt-2 footer" >  
      <p class="pr-2">{{'Any use of the Ingersoll Performance Advisor program is subject to' | translate}} </p>
      <a href="https://www.ingersoll-imc.de/sonstiges/datenschutz" target="_blank" style="text-decoration:underline">{{'Ingersolls Terms of Use' | translate}}</a> 
      <p class="pr-2 pl-2">{{'and' | translate}}</p>     
      <a href="https://www.ingersoll-imc.de/sonstiges/allgemeine-geschaefts-und-lieferbedingungen" target="_blank" style="text-decoration:underline">{{'Ingersoll General Terms of Sale' | translate}}</a>      
    </div>
  </footer>