.logoImg{
height: 60px;
cursor:pointer;
}

::ng-deep .myCustomModalClass .modal-dialog { 
     max-width: 55px;
     width: 55px;
}

.div-image-menu
{
 background-color: var(--background-color-menu);
}

.div-image-menu :hover 
{ 
 background-color: white;
}

.menu-not-visible
{
    display:none; 
    background-color:var(--background-color-menu);
}

.menu-visible
{
    display:block;
    z-index: 90000;
    position: fixed;
    background-color: var(--background-color-menu);
}

.dropdown-toggle::after {
    display:none;
}

.menuitem
{
    border-top: 1px solid var(--border-color-gray); 
    background-color: var(--background-color-menu);
    cursor: pointer;
}

.menuitem :hover
{
    // border-bottom: 1px solid var(--border-color-gray);
    background-color: white;
    cursor: pointer;
}