
button.close{
    outline: none;
    color: rgb(100, 97, 97) !important;    
  }

  .span_x_mobile
{
   font-size: 32px;
}

.LogoInscarMobile
{
  height: 30px!important;
}

a:focus {
  outline:none;
}
