
<div class="md-form mt-0">
    <div class="input-group rounded mb-3">
      <input type="search"   class="form-control text-rounded icon-search-mobile" [(ngModel)]="searchText" 
      (keyup)="FilterChange($event)" (search)="FilterChange($event)" (click)="FilterChange($event)"  placeholder="{{'Material Search'| translate}}" aria-label="Search"
        aria-describedby="search-addon" />                
    </div>
  </div>
  <hr>
  <div class="list-group list-group-flush" > 
      <button type="button" *ngFor="let tab of Tabs" [ngClass]="{'active': curSelectedCategory == tab.TapLetter}" class="list-group-item list-group-item-action border-0 d-flex align-items-center" (click)="categClick(tab.TapLetter)" >
        <div class="square" [title]="tab.TapLetter"><label class="bold font-weight-bold m-1">{{tab.TapLetter}}</label></div>
        <div class="align-items-center">{{tab.Description | translate}}</div>
      </button>
  </div>
    <hr>
  <div >
    <select [disabled]="selectDisabled" class="form-control form-control-sm bg-light" [(ngModel)]="standardSelected" (change)="onStandardChange($event.target.value)">
      <option value="">{{'Standard Conversion' | translate}}</option>
        <option *ngFor="let standard of matStandard" [value]="standard.GWCCNT">{{standard.GWCCNT}}</option>
    </select>                                
</div>
  <hr>
  <div *ngIf="environment.internal" class="pl-2 pb-2 ">
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer col-2">
            <input [checked]="MyMatCheked" type="checkbox" class="custom-control-input cursor-pointer" id="ShowOnlyFavorites" name="ShowOnlyFavorites" (change)= "ShowMyMaterials($event)">
            <label class="custom-control-label cursor-pointer" for="ShowOnlyFavorites"></label>
        </div>
        <div class="pr-4  pl-0 pb-2 col-9">
            <label for="ShowOnlyFavorites" class="form-check-label text-wrap">{{'Show Only My Materials' | translate}}</label>
        </div>
    </div>
</div>
  <!-- <div *ngIf="environment.internal" class="bg-light"><label class="bold font-weight-bold bg-light m-1">My Materials</label></div> -->