
  .list-group-item {
    padding: 5px;  /* adjust here */
}

.list-group-item:focus {
  background: var(--bg-hover) !important ; /* adjust here */
}

button:focus {outline:0;}

.list-group-item.active  {
color:#495057;
background-color:var(--row-selected) !important ;
  }

.list-group-item:hover {
    background-color: var(--bg-hover) !important ;
}

.bg-light {
  background-color:#F1F1F1 !important ;
}