<br><br>
<div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
  <hr>
  <ul class="list-group list-group-flush"> 
      <li *ngFor="let tab of Tabs" class="list-group-item list-group-item-action border-0 d-flex align-items-center" >
        <div class="square" [ngStyle]="{background: tab.color}"><h3>{{tab.TapLetter}}</h3></div>
        <div class="align-items-center">{{tab.Description}}</div>
    </li>
    </ul>
    <hr>
  <div >
    <select class="form-control form-control-sm">
      <option value="">Standard Conversion</option>
        <option *ngFor="let standard of matStandard" [value]="standard.GWCCNT">{{standard.GWCCNT}}</option>
    </select>                                
</div>
  <hr>
<h4>My Material</h4>