<div>
<div class="container-fluid p-0 pl-2 pr-2 pt-0" *ngIf="!srv_appsetting.isMobileResolution">
    <div class="form-group row">
        <input class="form-control" [(ngModel)]="machFilter.SearchText" (keyup)="FilterChange($event,false,false,false,'')" type="text" placeholder="{{'Search'| translate}}" aria-label="Search">    
    </div>
    <div class="border-bottom pt-3"></div>
    <div class="row">
        <div class="pt-2">
            <h3 class="siteTitle">{{'Filter' | translate}}</h3>
        </div>
        <div class="ml-auto">
            <button type="button" class="btn btn-reset mb-0 pl-0 ml-0" (click)="ClearFilter()">{{'Reset' | translate}}</button>
        </div>
    </div> 
   <div  class="pl-0 pt-3 pb-2" *ngIf="isLoadingAdSize">
        <div class="custom-control custom-radio ">
            <input type="radio" class="custom-control-input" id="optmost1" name="most" [(ngModel)] ="isMostRecom" value="1"  (change)="changeismost();FilterChange($event,false,false,false,'')"  >
            <label class="custom-control-label" for="optmost1">{{'Most Recommended' | translate}}</label>
        </div>                              
        <div class="custom-control custom-radio ">
            <input type="radio" class="custom-control-input" id="optmost2" name="most" [(ngModel)] ="isMostRecom" value="0" (change)="changeismost();FilterChange($event,false,false,false,'')">  
            <label class="custom-control-label" for="optmost2">{{'View All Machines' | translate}}</label>
        </div>         
    </div>  
    <div class="row" *ngIf="isLoadingAdSize">
        <div [ngClass]="machFilter.IsMachiningCenter?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-0 pt-2 pr-3 pb-2 pb-2 ':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   pl-0 pt-2 pr-3 pb-2 pb-2 '">
            <div [ngClass]="machFilter.IsMachiningCenter && !MachineTypeAll?'div-not-opacity cursor-pointer':'div-opacity cursor-pointer'">
                <img  [lazyLoad]="environment.ImagePath+'MachiningCenter.svg'" class="cursor-pointer" (click)="IsMachiningCenter=!IsMachiningCenter;SetViewAllMachines();FilterChange($event,false,false,false,'IsMachiningCenter')">
            </div>
            <div class="d-flex justify-content-center" >
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMachiningCenter" name="chkMachiningCenter" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'IsMachiningCenter')"  [(ngModel)]="IsMachiningCenter">
                    <label class="custom-control-label cursor-pointer" for="chkMachiningCenter"></label>
                </div>
            </div>
            <div class="d-flex justify-content-center">               
                <label>{{'Machining Center' | translate}}</label>               
            </div>
        </div>
        <div  [ngClass]="machFilter.IsLathe?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   p-2':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   p-2'" >   
            <div class="d-flex justify-content-center"  [ngClass]="machFilter.IsLathe && !MachineTypeAll?'div-not-opacity cursor-pointer':'div-opacity cursor-pointer'">       
                <img [lazyLoad]="environment.ImagePath + 'lathe.svg'" class="cursor-pointer img-fluid" (click)="IsLathe=!IsLathe;SetViewAllMachines();FilterChange($event,false,false,false,'IsLathe')">           
            </div>
            <div class="d-flex justify-content-center">
                 <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkLathe" name="chkLathe" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'IsLathe')" [(ngModel)]="IsLathe">
                    <label class="custom-control-label cursor-pointer" for="chkLathe"></label>
                </div>
            </div>
            <div>
                <label>{{'Lathe' | translate}}</label>
            </div>
        </div>
            <div  [ngClass]="machFilter.IsMultiTask?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-3 pt-2 pr-0 pb-2 pb-2 ':'col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 pl-3 pt-2 pr-0 pb-2 pb-2'">
                <div [ngClass]="machFilter.IsMultiTask && !MachineTypeAll?'div-not-opacity cursor-pointer':'div-opacity cursor-pointer'">
                    <img  [lazyLoad]="environment.ImagePath + 'MultiTask.svg'" class="cursor-pointer" (click)="IsMultiTask=!IsMultiTask;SetViewAllMachines();FilterChange($event,false,false,false,'IsMultiTask')">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="custom-control custom-checkbox cursor-pointer">
                        <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMultiTask" name="chkMultiTask" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'IsMultiTask')" [(ngModel)]="IsMultiTask">
                        <label class="custom-control-label cursor-pointer" for="chkMultiTask"></label>
                    </div>
                </div>
                <div>
                    <label>{{'Multi Task Machine' | translate}}</label>
                </div>
            </div>
    </div>    
    <div class="row">
        <div [ngClass]="machFilter.IsMultiSpindle?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-1 pt-2':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2'">
            <div [ngClass]="machFilter.IsMultiSpindle && !MachineTypeAll?'div-not-opacity cursor-pointer':'div-opacity cursor-pointer'">
                <img  [lazyLoad]="environment.ImagePath+'MultiSpindle.svg'" class="cursor-pointer" (click)="IsMultiSpindle=!IsMultiSpindle;SetViewAllMachines();FilterChange($event,false,false,false,'IsMultiSpindle')"> 
            </div>
            <div class="d-flex justify-content-center">
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMultiSpindle" name="chkMultiSpindle" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'IsMultiSpindle')"  [(ngModel)]="IsMultiSpindle">
                    <label class="custom-control-label cursor-pointer" for="chkMultiSpindle"></label>
                </div>
            </div>
             <div class="col-4">
                <label>{{'Multi Spindle' | translate}}</label>
            </div>
        </div>
        <div [ngClass]="machFilter.IsSwissType?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2'">
            <div  [ngClass]="machFilter&&machFilter.IsSwissType && !MachineTypeAll?'div-not-opacity cursor-pointer':'div-opacity cursor-pointer'">
                <img   [lazyLoad]="environment.ImagePath+'SwissType.svg'" class="cursor-pointer" (click)="IsSwissType=!IsSwissType;SetViewAllMachines();FilterChange($event,false,false,false,'IsSwissType')"> 
            </div>
            <div class="d-flex justify-content-center">
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkSwissType" name="chkSwissType" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'IsSwissType')" [(ngModel)]="IsSwissType">
                    <label class="custom-control-label cursor-pointer" for="chkSwissType"></label>
                </div>
            </div>
            <div class="col-4">
                <label>{{'Swiss Type' | translate}}</label>
            </div> 
        </div>
    </div>         
</div>
<div class="border-bottom pl-3 pt-2">
</div>
<label class="pb-2 pt-2 pl-2">{{'Machine Type' | translate}}</label>
<div class="pl-2 pb-2 ">
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeStandard" name="IsMachineTypeStandard" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'')"  [(ngModel)]="machFilter.IsMachineTypeStandard">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeStandard"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeStandard" class="form-check-label text-nowrap">{{'Standard' | translate}}</label>
        </div> 
    </div> 
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeHeavyDuty" name="IsMachineTypeHeavyDuty" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'')"  [(ngModel)]="machFilter.IsMachineTypeHeavyDuty">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeHeavyDuty"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeHeavyDuty" class="form-check-label text-nowrap">{{'Heavy Duty' | translate}}</label>
        </div> 
    </div> 
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeHighSpeed" name="IsMachineTypeHighSpeed" (change)= "SetViewAllMachines();FilterChange($event,false,false,false,'')"  [(ngModel)]="machFilter.IsMachineTypeHighSpeed">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeHighSpeed"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeHighSpeed" class="form-check-label text-nowrap">{{'High Speed' | translate}}</label>
        </div> 
    </div>   
</div>
<div class="border-bottom pl-3 pt-2">
</div>
<div class="pl-2 pb-2 " *ngIf="!srv_appsetting.isMobileResolution">
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer pt-2 col-2">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="ShowOnlyFavorites" name="ShowOnlyFavorites" (change)= "FilterChange($event,false,false,false,'')"  [(ngModel)]="machFilter.ShowOnlyFavorites">
            <label class="custom-control-label cursor-pointer" for="ShowOnlyFavorites"></label>
        </div>
        <div class="pr-4  pl-0 pb-2 pt-2 col-9">
            <label for="ShowOnlyFavorites" class="form-check-label text-wrap">{{'Show Only My Machines' | translate}}</label>
        </div>
    </div>
</div>
<div class="row pt-2 border-top">
    <div class="width-col-12-col-7 pt-2" >
        <label for="txtAdaptationType">{{'Adaptation Type' | translate}}</label>
    </div>
    <div *ngIf="isLoadingAdSize" class="pt-2 width-col-12-col-5">            
        <select class="form-control-sm select1" name="slcApatType" [(ngModel)]="curAdapType" (change)="SetViewAllMachines();changeadaptype()" >
            <option  *ngFor="let adaptype of arrAdapType"  [ngValue]="adaptype">{{adaptype.AdaptationType}}</option>
        </select>                    
    </div>
</div>  
<div class="row pt-2">
    <div class="width-col-12-col-7 pt-1">
        <label for="txtAdaptationSize" class="pt-1" >{{'Adaptation Size' | translate}}</label>
    </div>
    <div *ngIf="isLoadingAdSize" class="pt-1 width-col-12-col-5">
        <select  class="form-control-sm select1"   [(ngModel)]="curAdapSize" (change)="SetViewAllMachines();changeadapsize()">
            <option *ngFor="let adapsize of arrAdapSizeFilter" [ngValue]="adapsize">{{adapsize.AdaptationSize}}</option>
        </select>                                
    </div>
</div>  

<div class="pt-3"> 
    <div class="border-bottom pl-3">
    </div>
    <div class="pt-2 pr-2 mt-0 pl-2" *ngIf="isLoadingAdSize">    
        <label class="pt-4">{{'Power' | translate}}{{ srv_appsetting.Units =='M' ? ' (kW)' : ' (HP)' }}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.PowerMin" class="form-control-sm" (userChangeEnd)="SetViewAllMachines();FilterChange($event,true,false,false,'')" [(highValue)]="machFilter.PowerMax" [options]="options_power"></ng5-slider>
        </div>
    </div>  
    <div class="pr-2 mt-0 pl-2 pt-2" *ngIf="isLoadingAdSize">    
        <label class="pt-4">{{'Spindle Speed' | translate}}{{' (rpm)'}}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider  [(value)]="machFilter.SpeedMin"  class="form-control-sm" (userChangeEnd)="SetViewAllMachines();FilterChange($event,false,true,false,'')" [(highValue)]="machFilter.SpeedMax" [options]="options_speed"></ng5-slider>
        </div> 
    </div>        
     <div  class="pt-2 pr-2 mt-0 pl-2 pb-4" *ngIf="isLoadingAdSize">    
        <label class="pt-4">{{'Torque' | translate}}{{ srv_appsetting.Units =='M' ? ' (Nm)' : ' (Lbf)' }}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.TorqueMin" class="form-control-sm" (userChangeEnd)="SetViewAllMachines();FilterChange($event,false,false,true,'')" [(highValue)]="machFilter.TorqueMax" [options]="options_torque"></ng5-slider>
        </div>
    </div>   
</div>

</div>