<div class="container-fluid p-0">
    <div class="form-group row">
        <input class="form-control mb-3" [(ngModel)]="machFilter.SearchText" (keyup)="FilterChange($event)" type="text" placeholder="Search" aria-label="Search">    
    </div>
    <div class="form-group row">
        <button type="button" class="btn btn-reset mb-3" (click)="ClearFilter()">Reset</button>
    </div>
    <div class="form-group row">
        <div class="col-4 pl-0">
            <img src="assets/img/MachiningCenter.svg" class="img-machine-type"> 
        </div>
         <div class="col-4 pl-0">
            <img src="assets/img/lathe.svg" class="img-machine-type"> 
        </div>
         <div class="col-4 pl-0">
            <img src="assets/img/MultiTask.svg" class="img-machine-type"> 
        </div>
    </div>
   
    <div class="form-group row">
        <div class="col-4  pt-2">
             <div class="custom-control custom-checkbox change-chb">
                <input type="checkbox" class="custom-control-input" id="chkMachiningCenter" name="chkMachiningCenter" (change)= "FilterChange($event)"  [(ngModel)]="machFilter.IsMachiningCenter">
                <label class="custom-control-label" for="chkMachiningCenter"></label>
             </div>
        </div>
        <div class="col-4 pt-2">
            <div class="custom-control custom-checkbox change-chb">
                <input type="checkbox" class="custom-control-input" id="chkLathe" name="chkLathe" (change)= "FilterChange($event)" [(ngModel)]="machFilter.IsLathe">
                <label class="custom-control-label" for="chkLathe"></label>
            </div>
        </div>
         <div class="col-4 pt-2">
             <div class="custom-control custom-checkbox change-chb">
                <input type="checkbox" class="custom-control-input" id="chkMultiTask" name="chkMultiTask" (change)= "FilterChange($event)" [(ngModel)]="machFilter.IsMultiTask">
                <label class="custom-control-label" for="chkMultiTask"></label>
             </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
             <label class="col-form-label">Machining Center</label>
        </div>
        <div class="col-4">
            <label class="col-form-label">Lathe</label>
        </div>
         <div class="col-4">
             <label class="col-form-label">Multi Task Machine</label>
        </div>
    </div>
</div>
<div class="form-group"> 
    <div class="pt-4 pr-4 mt-2">    
        <label class="col-form-label pt-4">Rotating Speed(rpm)</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.SpeedMin" class="form-control-sm" (userChangeEnd)="FilterChange($event)" [(highValue)]="machFilter.SpeedMax" [options]="options_speed"></ng5-slider>
        </div>
    </div>  
     <div class="pt-4 pr-4 mt-2">    
        <label class="col-form-label pt-4">Power(Kw)</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.PowerMin" class="form-control-sm" (userChangeEnd)="FilterChange($event)" [(highValue)]="machFilter.PowerMax" [options]="options_power"></ng5-slider>
        </div>
    </div>     
     <div  class="pt-4 pr-4 mt-2">    
        <label class="col-form-label pt-4">Torque(Nm)</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.TorqueMin" class="form-control-sm" (userChangeEnd)="FilterChange($event)" [(highValue)]="machFilter.TorqueMax" [options]="options_torque"></ng5-slider>
        </div>
    </div> 
 
</div>