<div class="container-fluid p-0 pl-2 pr-2 pt-0" >
    <div class="form-group row">
        <input class="form-control" [(ngModel)]="machFilter.SearchText" (keyup)="FilterChange($event,false,false,false)" type="text" placeholder="Search" aria-label="Search">    
    </div>
    <div class="border-bottom pt-3"></div>
    <div class="row">
        <div class="pt-2">
            <h3 class="siteTitle">{{'Filter' | translate}}</h3>
        </div>
        <div class="ml-auto">
            <button type="button" class="btn btn-reset mb-0 pl-0 ml-0" (click)="ClearFilter()">{{'Reset' | translate}}</button>
        </div>
    </div> 
   <div  class="pl-0 pt-3 pb-2">
        <div class="custom-control custom-radio ">
            <input type="radio" class="custom-control-input" id="optmost1" name="most" [(ngModel)] ="isMostRecom" value="1"  (change)="changeismost();FilterChange($event,false,false,false)"  >
            <label class="custom-control-label" for="optmost1">{{'Most Recommended' | translate}}</label>
        </div>                              
        <div class="custom-control custom-radio ">
            <input type="radio" class="custom-control-input" id="optmost2" name="most" [(ngModel)] ="isMostRecom" value="0" (change)="changeismost();FilterChange($event,false,false,false)">  
            <label class="custom-control-label" for="optmost2">{{'View All Machines' | translate}}</label>
        </div>         
    </div>  
    <div class="row">
        <div [ngClass]="machFilter.IsMachiningCenter?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-0 pt-2 pr-3 pb-2 pb-2 div-not-opacity':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   pl-0 pt-2 pr-3 pb-2 pb-2 div-opacity'">
            <div>
                <img [src]="environment.ImagePath+'MachiningCenter.svg'" class="cursor-pointer" (click)="machFilter.IsMachiningCenter=!machFilter.IsMachiningCenter;FilterChange($event,false,false,false)">
            </div>
            <div class="d-flex justify-content-center" >
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMachiningCenter" name="chkMachiningCenter" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.IsMachiningCenter">
                    <label class="custom-control-label cursor-pointer" for="chkMachiningCenter"></label>
                </div>
            </div>
            <div class="d-flex justify-content-center">               
                <label>{{'Machining Center' | translate}}</label>               
            </div>
        </div>
        <div  [ngClass]="machFilter.IsLathe?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   p-2 div-not-opacity':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12   p-2 div-opacity'" >   
            <div class="d-flex justify-content-center">       
                <img [src]="environment.ImagePath + 'lathe.svg'" class="cursor-pointer img-fluid" (click)="machFilter.IsLathe=!machFilter.IsLathe;FilterChange($event,false,false,false)">           
            </div>
            <div class="d-flex justify-content-center">
                 <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkLathe" name="chkLathe" (change)= "FilterChange($event,false,false,false)" [(ngModel)]="machFilter.IsLathe">
                    <label class="custom-control-label cursor-pointer" for="chkLathe"></label>
                </div>
            </div>
            <div>
                <label>{{'Lathe' | translate}}</label>
            </div>
        </div>
            <div  [ngClass]="machFilter.IsMultiTask?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-3 pt-2 pr-0 pb-2 pb-2  div-not-opacity':'col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 pl-3 pt-2 pr-0 pb-2 pb-2  div-opacity'">
                <div>
                    <img [src]="environment.ImagePath + 'MultiTask.svg'" class="cursor-pointer" (click)="machFilter.IsMultiTask=!machFilter.IsMultiTask;FilterChange($event,false,false,false)">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="custom-control custom-checkbox cursor-pointer">
                        <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMultiTask" name="chkMultiTask" (change)= "FilterChange($event,false,false,false)" [(ngModel)]="machFilter.IsMultiTask">
                        <label class="custom-control-label cursor-pointer" for="chkMultiTask"></label>
                    </div>
                </div>
                <div>
                    <label>{{'Multi Task Machine' | translate}}</label>
                </div>
            </div>
    </div>    
    <div class="row">
        <div [ngClass]="machFilter.IsMultiSpindle?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12  pl-1 pt-2 div-not-opacity':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2 div-opacity'">
            <div>
                <img [src]="environment.ImagePath+'MultiSpindle.svg'" class="cursor-pointer" (click)="machFilter.IsMultiSpindle=!machFilter.IsMultiSpindle;FilterChange($event,false,false,false)"> 
            </div>
            <div class="d-flex justify-content-center">
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkMultiSpindle" name="chkMultiSpindle" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.IsMultiSpindle">
                    <label class="custom-control-label cursor-pointer" for="chkMultiSpindle"></label>
                </div>
            </div>
             <div class="col-4">
                <label>{{'Multi Spindle' | translate}}</label>
            </div>
        </div>
        <div [ngClass]="machFilter.IsSwissType?'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2 div-not-opacity':'col-xl-4 col-lg-4 col-md-12 col-sm- 12 col-12 pl-1 pt-2 div-opacity'">
            <div>
                <img [src]="environment.ImagePath+'SwissType.svg'" class="cursor-pointer" (click)="machFilter.IsSwissType=!machFilter.IsSwissType;FilterChange($event,false,false,false)"> 
            </div>
            <div class="d-flex justify-content-center">
                <div class="custom-control custom-checkbox cursor-pointer">
                    <input type="checkbox" class="custom-control-input cursor-pointer" id="chkSwissType" name="chkSwissType" (change)= "FilterChange($event,false,false,false)" [(ngModel)]="machFilter.IsSwissType">
                    <label class="custom-control-label cursor-pointer" for="chkSwissType"></label>
                </div>
            </div>
            <div class="col-4">
                <label>{{'Swiss Type' | translate}}</label>
            </div> 
        </div>
    </div>         
</div>
<div class="border-bottom pl-3 pt-2">
</div>
<label class="pb-2 pt-2 pl-2">{{'Machine Type' | translate}}</label>
<div class="pl-2 pb-2 ">
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeStandard" name="IsMachineTypeStandard" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.IsMachineTypeStandard">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeStandard"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeStandard" class="form-check-label text-nowrap">{{'Standard' | translate}}</label>
        </div> 
    </div> 
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeHeavyDuty" name="IsMachineTypeHeavyDuty" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.IsMachineTypeHeavyDuty">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeHeavyDuty"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeHeavyDuty" class="form-check-label text-nowrap">{{'Heavy Duty' | translate}}</label>
        </div> 
    </div> 
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="IsMachineTypeHighSpeed" name="IsMachineTypeHighSpeed" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.IsMachineTypeHighSpeed">
            <label class="custom-control-label cursor-pointer" for="IsMachineTypeHighSpeed"></label>
        </div>
        <div class="pr-4  pl-0 ">
            <label for="IsMachineTypeHighSpeed" class="form-check-label text-nowrap">{{'High Speed' | translate}}</label>
        </div> 
    </div>   
</div>
<div class="border-bottom pl-3 pt-2">
</div>
<div class="pl-2 pb-2 ">
    <div class="row">
        <div class="custom-control custom-checkbox cursor-pointer pt-2">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="ShowOnlyFavorites" name="ShowOnlyFavorites" (change)= "FilterChange($event,false,false,false)"  [(ngModel)]="machFilter.ShowOnlyFavorites">
            <label class="custom-control-label cursor-pointer" for="ShowOnlyFavorites"></label>
        </div>
        <div class="pr-4  pl-0 pb-2 pt-2">
            <label for="ShowOnlyFavorites" class="form-check-label text-nowrap">{{'Show Only Favorites' | translate}}</label>
        </div>
    </div>
</div>
<div class="form-group row pt-2 border-top">
    <div class="col-5 pt-2">
        <label for="txtAdaptationType">{{'Adaptation Type' | translate}}</label>
    </div>
    <div *ngIf="isLoadingAdSize" class="pt-2">            
        <select class="form-control-sm select1" name="slcApatType" [(ngModel)]="curAdapType" (change)="changeadaptype()" >
            <option  *ngFor="let adaptype of arrAdapType"  [ngValue]="adaptype">{{adaptype.AdaptationType}}</option>
        </select>                    
    </div>
</div>  
<div class="form-group row pt-2">
    <div class="col-5 pt-1">
        <label for="txtAdaptationSize" class="pt-1" >{{'Adaptation Size' | translate}}</label>
    </div>
    <div *ngIf="isLoadingAdSize" class="pt-1">
        <select  class="form-control-sm select1"   [(ngModel)]="curAdapSize" (change)="changeadapsize()">
            <option *ngFor="let adapsize of arrAdapSizeFilter" [ngValue]="adapsize">{{adapsize.AdaptationSize}}</option>
        </select>                                
    </div>
</div>  

<div class="pt-3"> 
    <div class="border-bottom pl-3">
    </div>
    <div class="pt-2 pr-2 mt-0 pl-2">    
        <label class="pt-4">{{'Power' | translate}}{{ srv_appsetting.Units =='M' ? ' (kW)' : ' (HP)' }}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.PowerMin" class="form-control-sm" (userChangeEnd)="FilterChange($event,true,false,false)" [(highValue)]="machFilter.PowerMax" [options]="options_power"></ng5-slider>
        </div>
    </div>  
    <div class="pr-2 mt-0 pl-2 pt-2">    
        <label class="pt-4">{{'Rotating Speed' | translate}}{{' (rpm)'}}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider  [(value)]="machFilter.SpeedMin"  class="form-control-sm" (userChangeEnd)="FilterChange($event,false,true,false)" [(highValue)]="machFilter.SpeedMax" [options]="options_speed"></ng5-slider>
        </div> 
    </div>        
     <div  class="pt-2 pr-2 mt-0 pl-2 pb-4">    
        <label class="pt-4">{{'Torque' | translate}}{{ srv_appsetting.Units =='M' ? ' (Nm)' : ' (Lbf)' }}</label>    
        <div class="custom-slider ng5-slider pt-0 mt-0" >
            <ng5-slider [(value)]="machFilter.TorqueMin" class="form-control-sm" (userChangeEnd)="FilterChange($event,false,false,true)" [(highValue)]="machFilter.TorqueMax" [options]="options_torque"></ng5-slider>
        </div>
    </div> 
   <!--  <div class="pt-4">
        <div class="pt-3">
            <div class="bg-light pl-2">
                <label class="bold font-weight-bold bg-light">{{'My Machines' | translate}}</label>
            </div>
        </div>
        <div class="pl-2" *ngFor="let m of arrFavorites">  
            <div class="row">                                                                                                                                                                                                                                                                                                                                                                          
                <a class="mt-2">{{m.MachineName}}</a>                                                                                                                                          
            </div>
        </div> 
    </div> -->
</div>