<div class="modal-header">
    <div>
      <h4 class="pt-2 modal-title siteTitle">{{HeaderDescription | translate}}</h4>
    </div>    
     <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close('cancel')">
       <span aria-hidden="true" class="span_x">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <div class="form-group">
       <label>{{Text | translate}}</label>           
     </div>
   </div>
   <div class="modal-footer text-center "> 
   </div>
  
 
 

