.img-machine-type{
    width: 100%;    
    max-width: 150px;
    min-width: 40px;
    }



.btn-bold{
    font-weight: bold;
}

.form-line{
    height: 8vh;
}

.desc-cpa{
    margin-left: 10px;
}





