.img-machine-type{
    width: 100%;    
    max-width: 150px;
    min-width: 40px;
    }

.desc-machine-bold
{
    color: var(--btn-bg-select-color);
    font-weight:bold;
    font-size: 20px;
}

.btn-bold{
    font-weight: bold;
}

.form-line{
    height: 8vh;
}

.desc-cpa{
    margin-left: 10px;
}





