<!-- <div  [style.height.px]="innerheight" [style.max-height.px]="innerheight"  [style.min-height.px]="innerheight" style="height: 100%;"> -->
    <!-- <div   style="overflow-y: auto; height: calc(100vh - 220px);" > --> 
        <div [ngClass]="exportPDF?'no-scroll-div border-right-gray': 'scroll-div border-right-gray'"> 
<div class="container-fluid m-0 p-0 border-left-gray" > 
<div class="mt-0 ml-0 pl-0 mt-0 pt-2" *ngIf="!exportPDF">
     <nav class="ml-0 pl-0 mt-0 pl-4 pt-0" aria-label="breadcrumb">
        <ol class="breadcrumb mt-0 ml-0 pl-0 bg-white" >
            <li class="breadcrumb-item text-secondary" ><a routerLink="/home/machines">All</a></li>
            <li class="breadcrumb-item active text-secondary"  aria-current="page">{{MachineName}}</li> 
        </ol>
      </nav>
</div>  

<div class="form-group row col-12 col-md-12 col-sm-12 col-xl-12 pt-0 mt-0">
    <div class="pt-0 pr-3 pl-4">
        <img src="{{imgNameMachine}}" class="img-machine-type">
    </div>
    <div class="pl-3 pt-0 pr-0 pl-0 col-6 col-md-12 col-sm-12 col-xl-8 col-lg-8">
            <div class="p-0 m-0">           
                <label class="siteTitle">{{MachineName}}</label>                      
            </div>
             <div class="form-group">                 
                <div class="col-3 p-0 m-0">    
                    <label class="desc-machine">{{machHeader?.MachineType}}</label>                                 
                </div>
                <div class="row pl-0 ml-0">
                    <div class="col-3 pl-0 pt-1 m-0">    
                        <label class="desc-machine" for="txtCostPerHour">{{'Cost Per Hour' | translate}}</label>           
                    </div>                    
                    <div class="col-2 pl-0 m-0">                                                               
                        <input type="number" class="form-control" *ngIf="isLoading" id="txtCostPerHour" name="CostPerHour" (change)="ChangeMachineCost()" [(ngModel)]="CostPerHour">                         
                    </div>
                     <div class="pl-4"> 
                      
                        <div class="col-2 pl-0 pt-1 m-0">    
                            <label class="desc-machine" >{{srv_appsetting.Currency}}</label>           
                        </div>                                         
                    </div>                    
                </div>
                <div class="row pl-0 ml-0 ">
                    <div class="col-3 pt-1 m-0 pl-0">    
                        <label class="desc-machine">{{'Machine Type' | translate}}</label>           
                    </div>                    
                    <div class="col-2 pl-0 pt-1 m-0">    
                        <label class="desc-machine" >{{machHeader.MachineType1}}</label>           
                    </div>                                 
                </div>
                <div class="form-group row" *ngIf="isLoading && !exportPDF">
                    <div class="row col-2 pt-2">                     
                        <div class="pt-2 pr-4">                     
                            <a data-toggle="tooltip" 
                                 title="{{machHeader.isFavorite ? 'Edit My Machine' :'Add To My Machines' | translate}}"> 
                                <img [src]="machHeader.isFavorite ?environment.ImgFavorite: environment.ImgAddToFavorite" class="icon-grid" (click)="OnFavoriteMachine1(machHeader)">
                            </a> 
                        </div>
                        <div class="pr-4 pt-2" *ngIf="machHeader.isFavorite">                                                                 
                            <a data-toggle="tooltip" title="{{'Save Machine' | translate}}" >
                                <img [src]="environment.ImagePath + 'Updat_Icon.svg'" (click)="OnSaveMachine();" class="icon-grid">
                            </a>                                              
                        </div> 
                    </div>
                    <div  class="pt-2">                        
                        <button class="btn btn-select-cancel"  (click)="Reset()" >{{'Reset'| translate}}</button>                                                              
                    </div> 
                    <div  class="pt-2 pl-2">                        
                        <button class="btn btn-select"  (click)="OnSelectMachine();" [routerLink]="['/home/materials']">{{'Select'| translate}}</button>                                                              
                    </div>                                                         
                </div>           
            <div class="form-group">
            </div>
        </div>                                                       
    </div>                                              
</div>  
<div>
    
    <div  *ngFor="let spindle of arrMachineSpindle; let PrtNum = index" class="pt-4"  >
            <div *ngIf="!exportPDF || (exportPDF && srv_statemanage.SelectedMachineSpindle.SpindleType==spindle.SpindleType)">                                                                                                                  
                <app-machine-item-spindle [machHeader]="machHeader" [exportPDF]="exportPDF" [spindle]=spindle [MachineType]=machHeader.MachineType></app-machine-item-spindle>  
            </div>                        
    </div>  
</div>
<div class="pt-4">

</div>
</div>
   
