.img-machine-type{
    width: 100%;    
    max-width: 150px;
    min-width: 40px;
    }

    .scroll-div
    {
        overflow-y: auto; 
        height: calc(100vh - 500px);
    }
    .no-scroll-div
    {
        overflow-y: auto;       
    }






