<div class="modal-header">  
    <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close('cancel')">
      <span aria-hidden="true" class="span_x">&times;</span>
    </button>
  </div>
  <div class="modal-body">          
      <h5>Please <u (click)="this.activeModal.close('login')" class="cursor-pointer">login</u> to add the machine to "My Machines"</h5>
      <!-- <label  class="col-sm-2">{{'Please '| translate}}</label>
      <a href="#" (click)="this.activeModal.close('login')">login</a>
      <span>{{' to add the machine to My Machines'| translate}}</span>  -->     
      <!-- <div class="col-sm-10">
        <label   class="form-control">{{MachineNameNew}}</label>
      </div> -->   
  </div>
 


