
.div-app
{      
    background-color:white; 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px;    
}

.div-app-selected
{        
    background-color:#E0E0E0; 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px;    
}


