@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.div-app
{      
    background-color:white; 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px; 
    opacity: 0.5;   
    border-style:none!important;
}

.div-app :hover
{      
    background-color:var(--bg-hover);
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px; 
    opacity: 0.5;  
    border-style:none!important;
}

.div-app-open
{      
    background-color:white; 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px;  
    border-style:none!important;   
    //opacity: 0.5;   
}

.div-app-open:hover
{      
    background-color:var(--bg-hover);
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px; 
    border-style:none!important;    
    //opacity: 0.5;   
}

.div-app-selected
{        
    background-color:var(--row-selected); 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px; 
    border-style:none!important;  
    outline: 0!important; 
}

.div-app-selected :focus
{        
    background-color:var(--row-selected); 
    cursor: pointer;  
    padding-right: 0px;
    margin-right: 0px; 
    border-style:none!important;  
    outline: 0!important;  
}

.img-not-allowed
{
   cursor: not-allowed;  
   opacity: 0.5;   
}
.app-image
{
    max-width:200px;   
    width: 50%;
}

.secapp-image
{
    max-width:200px;   
    width: 50%;
}

.li-item { 
   width: 50%;  
   max-width: 50%;   

}

.li-item :hover {  
   background-color:var(--bg-hover); 
} 

@mixin app-image {    

}


@include media-breakpoint-up(sm) {
.app-image
{ 
    max-width:60%;   
    width: 60%;
}  
.secapp-image
{ 
    max-width:50%;   
    width: 50%;
} 
.li-item
{
    width: 33%;  
    max-width: 33%;
} 
}

@include media-breakpoint-up(md) {
  .app-image
{ 
    max-width:70%;   
    width: 70%;
} 
.secapp-image
{ 
    max-width:60%;   
    width: 60%;
}  
 .li-item
{
   width: 33%;  
   max-width: 33%;
}
}

@include media-breakpoint-up(lg) {
.app-image
{ 
    max-width:80%;   
    width: 80%;
}
.secapp-image
{ 
    max-width:60%;   
    width: 60%;
} 


.li-item
{
   width: 20%; 
   max-width: 20%; 
}  
}

@include media-breakpoint-up(xl) {
.app-image
{ 
    max-width:65%;   
    width: 65%;
}
.secapp-image
{ 
    max-width:50%;   
    width: 50%;
} 


.li-item
{
   width: 20%; 
   max-width: 20%; 
}  
}

@include media-breakpoint-up (xs){ 
 .btn-select  
 { 
    min-width:150px;
    max-width: 150px;
  
}
.btn-select-selected 
  {    
    min-width:150px;
    max-width: 150px;   
  }

  .div-in-process {
    position: relative;
    display: inline;
  }

  .img-in-process {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width:200px;       
    opacity: 50%;
  }
 }
 

