
  
    
 <!-- <div class="container-fluid pl-0 pr-0" id ="divhome"  [style.height.px]="innerheight" [style.max-height.px]="innerheight"  [style.min-height.px]="innerheight" > -->
    <!-- <div *ngIf="msrv_appsetting.AfterToken"> -->
    <div>
        <div class="container-fluid pl-0 pr-0" id ="divhome"  [style.height.px]="innerheight" [style.max-height.px]="innerheight"  [style.min-height.px]="innerheight" >
            <div class="row justify-content-center">
                <div class="col-12 pl-0 pr-0"> 
                    <app-header></app-header>
                </div> 
            </div>                                                    
            <div *ngIf="msrv_appsetting.isLoggedIn"  class="row justify-content-center" >           
                <div class="div-main-content">
                    <app-main-content></app-main-content>
                </div>                          
            </div>
            
            <div class="fixed-bottom" *ngIf="!msrv_appsetting.isMobileResolution">
                <app-footer></app-footer>
            </div>                              
        </div>
    </div>  
  
   