
  
    
 <!-- <div class="container-fluid pl-0 pr-0" id ="divhome"  [style.height.px]="innerheight" [style.max-height.px]="innerheight"  [style.min-height.px]="innerheight" > -->
    <!-- <div *ngIf="msrv_appsetting.AfterToken"> -->
    <div>
        <div class="container-fluid pl-0 pr-0" id ="divhome"  [style.height.px]="innerheight" [style.max-height.px]="innerheight"  [style.min-height.px]="innerheight" >
            <div class="row justify-content-center">
                <div class="col-12 pl-0 pr-0"> 
                    <app-header></app-header>
                </div> 
            </div> 
                                          
      <!--           <div  class="btn-group div-header-link pl-2 pt-0"  ngbDropdown role="group" >                                
                    <div ngbDropdownToggle id="calc"><img src="assets/img/Help_Icon.svg"  class="MenuImg" title="{{'Help' | translate}}">
                    <div class="dropdown-menu calc-table " ngbDropdownMenu aria-labelledby="calc">
                        <div  class ="row col-12 dropdown-item menuitem ml-4 mt-1 mb-1 mr-4 pl-4" >                                                                                                                                                                                                                                                                                                                       
                            <label class="siteTitle  pl-2 mt-2" style="background-color:trasparent">{{'Contact Us' | translate}}</label>                                                                                                                                                      
                        </div>
                        <div class ="row col-12 dropdown-item menuitem" >                                                                                                  
                            <label class="siteTitle  pl-2 mt-2" style="background-color:trasparent">{{'Feedback' | translate}}</label>                                                                                                                                                      
                        </div>
                        <div class ="row col-12 dropdown-item menuitem" >                                                                                                  
                            <label class="siteTitle  pl-2 mt-2" style="background-color:trasparent">{{'User Guide' | translate}}</label>                                                                                                                                                      
                        </div>                        
                    </div>                                                                     
                    </div>  
                </div>     -->
                
                

            <div *ngIf="msrv_appsetting.isLoggedIn"  class="row justify-content-center" >           
                <div class="div-main-content">
                    <app-main-content></app-main-content>
                </div>                          
            </div>
            
            <div class="fixed-bottom" *ngIf="!msrv_appsetting.isMobileResolution">
                <app-footer></app-footer>
            </div>                              
        </div>
    </div>  
  
   