
<div class="container" class="p-0 m-0" >
    <div class="form-group row">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 ">    
            <div class="pt-0" >   
                <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Workpiece Dia. (D)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('WorkpieceDiameter').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('WorkpieceDiameter').value=='0' ? 'form-control input-empty input-min-width':'form-control input-min-width'" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('WorkpieceDiameter').value"  (change)="SetIPLMandatory()"  (focus)="onfocusfield('WorkpieceDiameter')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div>   
                <div class="form-group row" *ngIf="msrv_StMng.SecApp=='53' || msrv_StMng.SecApp=='50'">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Groove Position (LP)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('GroovePosition').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('GroovePosition').value=='0' ? 'form-control input-empty input-min-width':'form-control input-min-width'" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('GroovePosition').value"  (change)="SetIPLMandatory()"  (focus)="onfocusfield('GroovePosition')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Depth of Groove (DPT)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value=='0'? 'form-control input-empty input-min-width':'form-control input-min-width'" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Depth').value"  (change)="SetIPLMandatory()"  (focus)="onfocusfield('Depth')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div>  
                <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Width of Groove (W)' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Width').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Width').value=='0' ? 'form-control input-empty input-min-width':'form-control input-min-width'" 
                        (change)="SetIPLMandatory()"   [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Width').value"  (focus)="onfocusfield('Width')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div> 
                <div  *ngIf="msrv_appsetting.isMobileResolution">
                    <div *ngIf="ImageName!=''">
                        <img src="{{ImageName}}" class="input-image">   
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-5">W - {{'Tolerance' | translate}}</label>                       
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-10 col-sm-10 col-10  pt-0 pl-0">
                        <label class="pl-0 pt-3">{{'Min' | translate}}</label>
                        <input  type="number" class="form-control input-min-sl-width" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('WToleranceMin').value" (focus)="onfocusfield('WToleranceMin')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">                        
                        <label class="pl-0 pt-5">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-10 col-sm-10 col-10  pt-0 pl-0">
                        <label class="pl-0 pt-3">{{'Max' | translate}}</label>
                        <input  type="number"  class="form-control input-min-sl-width" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('WToleranceMax').value"  (focus)="onfocusfield('WToleranceMax')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">                        
                        <label class="pl-0 pt-5">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div>  
                 <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Corner Radius' | translate}}{{' (R)'}}</label>                       
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number"  class="form-control input-min-sl-width"
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('MaxCornerRadius').value"  (focus)="onfocusfield('MaxCornerRadius')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div> 
                  <div class="form-group row">
                    <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 pt-1">
                        <label class="pl-0 pt-5">R - {{'Tolerance' | translate}}</label>                        
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <label class="pl-0 pt-3">{{'Min' | translate}}</label>
                        <input  type="number" class="form-control input-min-sl-width" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('RToleranceMin').value" (focus)="onfocusfield('RToleranceMin')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-1 pl-0">                        
                        <label class="pl-0 pt-5">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <label class="pl-0 pt-3">{{'Max' | translate}}</label>
                        <input  type="number"  class="form-control input-min-sl-width" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('RToleranceMax').value" (focus)="onfocusfield('RToleranceMax')" (focusout)="onfocusoutfield()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-1 pl-0">                        
                        <label class="pl-0 pt-5">{{msrv_appsetting.UnitslengthDesc | translate}}</label>
                    </div>
                </div>  
            </div>                                                                                        
            <div class="pt-3">
                <div class="form-group"> 
                    <div class="pl-0">
                        <label>{{'Clamping' | translate}}</label>
                    </div>
                    <div class="ml-0">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optStable"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Clamping').value" value="Stable" name="Clamping" checked>
                            <label class="custom-control-label" for="optStable">{{'Stable' | translate}}</label>
                        </div>                                              
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optUnstable" name="Clamping" [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('Clamping').value" value="Unstable">
                            <label class="custom-control-label" for="optUnstable">{{'Unstable'| translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pt-3">     
                <div class="form-group">
                    <div class="pl-0"> 
                        <label>{{'Type Of Cut' | translate}}</label>
                    </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optContinuous" name="TypeOfCut" checked  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TypeOfCut').value" value="Continuous">
                            <label class="custom-control-label" for="optContinuous">{{'Continuous' | translate}}</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optInterrupted" name="TypeOfCut"  [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('TypeOfCut').value" value="Interrupted">
                            <label class="custom-control-label" for="optInterrupted">{{'Interrupted' | translate}}</label>
                        </div>                                  
                    </div>   
                </div>
            </div>
            <div class="form-group">  
                <div class="pt-4 pb-0">                                  
                    <label  class="siteTitle col-form-label">{{'Economic Data' | translate}}</label> 
                </div>
                <div class="form-group row pt-0">
                    <div class="row col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label for="txtBatchSize" class="pl-0 pt-3">{{'Batch Size For Cost Calculation' | translate}}</label>                    
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-1 pl-0">
                        <input  type="number" required [className]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value==null || msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value=='0' ? 'form-control input-empty input-min-width':'form-control input-min-width'"  id="txtBatchSize" name="txtBatchSize" 
                                            [(ngModel)]="msrv_StMng.IPL&&msrv_StMng.IPL.GetItem('BatchSize').value"  (change)="SetIPLMandatory()"> 
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 pt-0 pl-0">
                        <label class="pl-0 pt-2">{{'Units' | translate}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="row col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 pt-0">
                        <label for="txtBatchSize" class="pl-0 pt-3">{{'Machine Cost' | translate}}</label>                    
                    </div>                   
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-10 col-10  pt-1 pl-0">                    
                        <!-- <input  type="number"  class="form-control input-min-width"  id="txtMachineCost" name="txtMachineCost" 
                                           value={{CostPerHourByRate}} readonly>   -->
                        <Label  class="pt-3 input-min-width"  id="txtMachineCost" name="txtMachineCost">{{CostPerHourByRate}}{{' '}}{{msrv_appsetting.Currency}}/{{'hour' | translate}}</Label></div>                    
                    <!-- <div class="row pt-0 pl-0">
                        <label class="pl-0 pt-3 ">{{msrv_appsetting.Currency}}</label>
                        <label class="pl-0 pt-3">/{{'hour' | translate}}</label>
                    </div> -->
                </div> 
            </div> 
            <div class="pt-4">

            </div> 
        </div>
        <div class="col-xl-6 col-lg-6 col-md-4 pr-4 pt-1 div-input-image" *ngIf="!msrv_appsetting.isMobileResolution">
            <div *ngIf="ImageName!=''">
                <img src="{{ImageName}}" class="input-image">   
            </div>
        </div>    
    </div>
</div>


