<div class="modal-header">
    <h4 class="modal-title siteTitle">Add {{modal_group}} to my materials:</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true" class="span_x">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="MaterialName" class="col-sm-2">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="MaterialName" >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-select-cancel" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-select" (click)="activeModal.close('Close click')">Save</button>
  </div>
