.clsPromotionDivClick {
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: black 5px solid;
    outline-offset: -20px !important;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer !important;
}

.clsPromotionImage {
    margin-bottom: 10px;
    border: black 5px solid;
    border-radius: 10px;
    width: 100%;
}

.clsPromotionDivX {
    position: absolute;
    top: -10px;
    left: 97%;
    font-size: 40px;
    width: 40px;
    cursor: pointer !important;
}