.clsPromotionDivClick {
    width: 100%;
    padding: 10px 0;
    margin-left: -51%;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: black 5px solid;
    outline-offset: -20px !important;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer !important;
}

.clsPromotionImage {
    margin-left: -50%;
    margin-bottom: 10px;
    border: black 5px solid;
    border-radius: 10px;
    width: 360px;
}