.img-logo
{
    width: 100%;    
    max-width: 400px;        
}

.img-family
{
    //width: 100%;    
    max-width: 400px;    
    min-width: 400px; 
}

.img-drawing
{
    //width: 100%;    
    max-width: 400px;    
}
