.img-logo
{
    width: 100%;    
    max-width: 500px;        
}

.img-family
{
    width: 100%;    
    max-width: 500px;    
    min-width: 500px; 
}

.img-drawing
{
    width: 100%;    
    max-width: 500px;    
}

.div-image
{
    height:300px!important;
}