.icon-open
{
   font-size:20px;
   color:var(--btn-bg-gray-color) ;
}

.icon-remove
{
   font-size:15px;
   color:var(--btn-bg-gray-color) ;
}
.selected-items
{
    font-size: 12px;
    margin-top: 5px;
}



