<div class="mt-2">
 <ul class="nav nav-fill" >                  
        <li *ngFor="let tab of Tabs"  
        [className]="tab.IsSelected? 
                                    tab.TabID=='5'? 'nav-item div-tab-menu-selected-last': 'nav-item div-tab-menu-selected':tab.isDisabled? tab.TabID=='5'?'nav-item div-tab-menu-disabled-last' :'nav-item div-tab-menu-disabled':'nav-item div-tab-menu'"  [routerLink]="tab.isDisabled? null:tab.RouteName">  
        <div class="form-group row"> 
            <div>                                          
                <img [src]="tab.isDisabled ? tab.ImageDisableURL : tab.ImageURL" class="img-main-menu">                                                                                                  
            </div>
            <div>
                <div class="form-group mb-0 pb-0" >                                       
                    <!-- <label  [className]="tab.isDisabled?'siteTitle d-none d-md-block mb-0 pb-0':'siteTitle d-none d-md-block mb-0 pb-0'">{{tab.Description}}</label> -->
                    <label  class="siteTitle d-none d-md-block mb-0 pb-0">{{tab.Description}}</label>
                    <label  class="desc-main-menu-selected d-none d-md-block mb-0 pb-0">{{tab.SelectedItemDesc}}</label> 
                    <label  class="desc-main-menu-selected d-none d-md-block mt-0 pt-0  mb-0 pb-0">{{tab.SelectedItemDesc1}}</label>
                 </div>                                                              
            </div>
        </div>
    </li>          
</ul>
</div>

 


  