.img-main-menu
{
    height: 40px;
   /*  margin-left:5px;
    margin-right:5px; */
}

.desc-main-menu-selected
{
    color: var(--btn-bg-select-color);
    font-weight:normal;
    font-size:13px;
    font-family: var(--family-font);    
}


.div-tab-menu-disabled
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left-color: var(--border-color-gray) ;
    border-left-width: 1px;
    border-left-style:solid;  
    background-color:var(--background-color-menu);  
    cursor: default;
}

.div-tab-menu-disabled-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid  var(--border-color-gray)  ;
    border-right:1px solid  var(--border-color-gray)  ; 
    background-color:var(--background-color-menu);  
    cursor: default;
}

.div-tab-menu
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid  var(--border-color-gray)  ;  
    background-color:var(--background-color-menu);  
    cursor: pointer;
}

.div-tab-menu-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid  var(--border-color-gray)  ;
    border-right:1px solid  var(--border-color-gray) ;    
    background-color:var(--background-color-menu);  
    cursor: pointer;
}

.div-tab-menu-selected
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid   var(--border-color-gray)  ;    
    border-top:5px solid #fede15 ;
    background-color:white; 
    cursor: pointer;      
}

.div-tab-menu-selected-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid  var(--border-color-gray)  ; 
    border-right:1px solid  var(--border-color-gray) ;    
    border-top:5px solid #fede15;
    background-color:white; 
    cursor: pointer;  
}

.div-tab-menu-selected:focus
{
   border-color:var(--border-color-gray) ;
   outline: 0;
   border-left:1px solid  var(--border-color-gray) ;
   border-top:5px solid #fede15;
}

.div-tab-menu:focus
{
  border-color: var(--border-color-gray) ;
  outline: 0;
  border-left:1px solid  var(--border-color-gray)  ; 
}

.nav-item{
    width:20%;
}

/* [contenteditable] {
  outline: 0px solid transparent;
} */

/* .some-flex {
  flex-direction: column;
  align-items: center;
  display: flex;
} */
.siteTitle-disable {
  color:var(--btn-bg-gray-color) !important;
  font-weight: normal !important;
  font-size: 18px !important;
  font-family: var(--family-font-h) !important  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px)  
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width: 1010px) {

    .visibleonlybigscreen
    {
        visibility: hidden;
        display:none;
    }
}