.img-main-menu
{
    height: 40px;
    margin-left:5px;
    margin-right:5px;
}

.desc-main-menu
{
    color: var(--btn-bg-select-color);
    font-weight:bold;
    font-size:18px;
    font-family: var(--family-font-h);
}

.desc-main-menu-disabled
{
    color: var(--btn-bg-gray-color);
    font-weight:bold;
    font-size:18px;
    font-family: var(--family-font-h);
}

.desc-main-menu-selected
{
    color: var(--btn-bg-select-color);
    font-weight:normal;
    font-size:0.9rem;
    font-family: var(--family-font);
}


.div-tab-menu-disabled
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0 ;
    border-top:1px solid #E0E0E0;
    background-color:var(--background-color-menu);  
    cursor: default;
}

.div-tab-menu-disabled-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0 ;
    border-right:1px solid #E0E0E0 ;
    border-top:1px solid #E0E0E0;
    background-color:var(--background-color-menu);  
    cursor: default;
}

.div-tab-menu
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0 ;
    border-top:1px solid #E0E0E0;
    background-color:var(--background-color-menu);  
    cursor: pointer;
}

.div-tab-menu-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0 ;
    border-right:1px solid #E0E0E0;  
    border-top:1px solid #E0E0E0;
    background-color:var(--background-color-menu);  
    cursor: pointer;
}

.div-tab-menu-selected
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0;    
    border-top:1px solid #E0E0E0;
    background-color:white; 
    cursor: pointer;  
}

.div-tab-menu-selected-last
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    border-left:1px solid #E0E0E0; 
    border-right:1px solid #E0E0E0;    
    border-top:1px solid #E0E0E0;
    background-color:white; 
    cursor: pointer;  
}

.div-tab-menu-selected:focus
{
   border-color:#E0E0E0;
   outline: 0;
   border-left:1px solid #E0E0E0 ;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #E0E0E0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #E0E0E0;  */
}

.div-tab-menu:focus
{
  border-color:#E0E0E0;
  outline: 0;
  border-left:1px solid #E0E0E0 ;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #E0E0E0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #E0E0E0; */ 
}