<div class="mt-2">
    <ul class="nav nav-fill" >                  
           <li *ngFor="let tab of Tabs"  
               [className]="tab.IsSelected? 
                                           tab.TabID=='5'? 'nav-item div-tab-menu-selected-last': 'nav-item div-tab-menu-selected':tab.isDisabled? tab.TabID=='5'?'nav-item div-tab-menu-disabled-last' :'nav-item div-tab-menu-disabled':'nav-item div-tab-menu'" 
                                           (click)="onClickTab(tab)">  
               <div class="row"> 
                   <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2   pl-sm-0 pl-md-0 pl-lg-2 pl-xl-2">                                          
                       <img [src]="tab.isDisabled ? tab.ImageDisableURL : tab.ImageURL" class="img-main-menu">                                                                                                  
                   </div>            
                   <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10  pl-2 mb-0 pb-0 pl-1 ">                                                           
                       <div class="visibleonlybigscreen">                       
                           <label [className]="tab.isDisabled?'siteTitle-disable text-truncate d-none d-lg-block  mb-0 pb-0 ':'siteTitle text-truncate d-none d-lg-block mb-0 pb-0 cursor-pointer'">{{tab.Description | translate}}</label> 
                       </div>
                       <div class="row">
                           <label class="desc-main-menu-selected text-nowrap text-truncate  mb-0 pb-0 d-none d-xl-block d-lg-block d-md-block cursor-pointer">{{tab.SelectedItemDesc | translate}}</label> 
                           <label class="desc-main-menu-selected text-wrap text-truncate  mt-0 pt-0 d-none d-xl-block d-lg-block d-md-block  mb-0 pb-0 pl-1 cursor-pointer">{{tab.SelectedItemDesc1 | translate}}</label> 
                       </div>  
                   </div>                                                                                                                    
               </div>
               
           </li>          
   </ul>
   </div>
   