
<!-- <button (click)="setactivetab('machinelist')">Machine List</button>
<button (click)="setactivetab('machinedetailed')">Machine Detailed</button>

<app-machinelist   *ngIf="activetab =='machinelist'" (MachineSelect)='CurMachineSelected($event)'></app-machinelist>
<app-machinedetailed [MachineID]=CurMachineID *ngIf="activetab=='machinedetailed'"></app-machinedetailed>  -->

<!-- header -->
<app-header></app-header>
<app-main-content></app-main-content>

<!-- <app-machinetab></app-machinetab> -->

<!-- footer -->
<app-footer></app-footer>