
<!-- <button (click)="setactivetab('machinelist')">Machine List</button>
<button (click)="setactivetab('machinedetailed')">Machine Detailed</button>

<app-machinelist   *ngIf="activetab =='machinelist'" (MachineSelect)='CurMachineSelected($event)'></app-machinelist>
<app-machinedetailed [MachineID]=CurMachineID *ngIf="activetab=='machinedetailed'"></app-machinedetailed>  -->

<!-- header -->
<app-header></app-header>


<app-machinetab></app-machinetab>
<router-outlet></router-outlet>



<!-- footer -->
<app-footer></app-footer>