td:first-child { display:none; }
th:first-child { display:none; }
table.dataTable{
    border-collapse: collapse !important;
}
thead{
    background:var(--bg-blue-header);
}

.table td:not([data-value*="________"]):hover{
    background-color: var(--bg-hover) !important; 
    cursor: pointer !important;
  }