
<div class="container" class="p-0 m-0" >
    <div class="form-group row">
        <div class="col-6" >
            <div class="pt-2" >   
                <div class="form-group row">
                    <div class="row col-5 ">
                        <label for="txtDepthOfShoulder_ap" class="col-form-label pl-0 ">Depth (D)</label>
                        <label class="col-form-label pl-2 asterisk-red">*</label>
                    </div>
                    <div class="col-7  pt-2">
                        <input type="number" required [className]="Ipl&&Ipl.GetItem('DepthOfShoulder_ap').value==null ? 'form-control input-empty':'form-control'"  id="txtDepthOfShoulder_ap" name="txtDepthOfShoulder_ap" 
                                            [(ngModel)]="Ipl&&Ipl.GetItem('DepthOfShoulder_ap').value"  (focus)="onfocusfield('DepthOfShoulder_ap')" (focusout)="onfocusoutfield()"> 
                    </div>
                </div>   
                <div class="form-group row">
                    <div class="row col-5  ">
                        <label for="txtDepthOfShoulder_ap" class="col-form-label pl-0 ">Width (W)</label>
                        <label class="col-form-label pl-2 asterisk-red">*</label>
                    </div>
                    <div class="col-7  pt-2">
                        <input type="number" required [className]="Ipl&&Ipl.GetItem('WidthOfShoulder_ae').value==null ? 'form-control input-empty': 'form-control'" id="txtWidthOfShoulder_ae" name="txtWidthOfShoulder_ae" 
                                            [(ngModel)]="Ipl&&Ipl.GetItem('WidthOfShoulder_ae').value" (focus)="onfocusfield('WidthOfShoulder_ae')" (focusout)="onfocusoutfield()"> 
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="row col-5 ">
                        <label for="txtLengthOfShoulder_L" class="col-form-label pl-0 ">Length (L)</label>
                        <label class="col-form-label pl-2 asterisk-red">*</label>
                    </div>
                    <div class="col-7  pt-2">
                        <input type="number"required [className]="Ipl&&Ipl.GetItem('LengthOfShoulder_L').value==null ? 'form-control  input-empty':'form-control'" id="txtLengthOfShoulder_L" name="txtLengthOfShoulder_L" 
                                            [(ngModel)]="Ipl&&Ipl.GetItem('LengthOfShoulder_L').value" (focus)="onfocusfield('LengthOfShoulder_L')" (focusout)="onfocusoutfield()"> 
                    </div>
                </div>
            </div>     
                <div class="pt-4">               
                <div class="form-group">                   
                        <div class="pl-0">
                            <label>Operation Type - Indexable</label>
                        </div>                           
                         <div class="ml-0">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="optLight" name="OperationType" checked  [(ngModel)]="Ipl&&Ipl.GetItem('OperationType').value" value="Light">
                                <label class="custom-control-label" for="optLight">Light</label>
                            </div>            
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="optMedium" name="OperationType"  [(ngModel)]="Ipl&&Ipl.GetItem('OperationType').value" value="Medium">
                                <label class="custom-control-label" for="optMedium">Medium</label>
                            </div>            
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="optHeavy" name="OperationType" [(ngModel)]="Ipl&&Ipl.GetItem('OperationType').value" value="Heavy">
                                <label class="custom-control-label" for="optHeavy">Heavy</label>
                            </div>
                        </div>                      
               </div>
                </div>
            <div  class="pt-4"> 
                 <div class="form-group">            
                    
                         <div class="pl-0">
                            <label>Operation Type - Solid</label>
                        </div>                           
                         <div class="ml-0">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="optFinishing" name="OperationType4Solid" checked  [(ngModel)]="Ipl&&Ipl.GetItem('OperationType4Solid').value" value="Finishing">
                                <label class="custom-control-label" for="optFinishing">Finishing</label>
                            </div>            
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input " id="optGeneral" name="OperationType4Solid"  [(ngModel)]="Ipl&&Ipl.GetItem('OperationType4Solid').value" value="General">
                                <label class="custom-control-label" for="optGeneral">General</label>
                            </div>                                        
                        </div>  
                    </div>
                
                
        </div> 
              <!--   <div class="form-group row">
               
                        <label for="txtRampDownAngle" class="col-form-label col-5 pl-0 ml-0">Ramp angle (RD)</label>
                        
                    
                    <div class="col-7  pt-2">
                        <input type="number"  class="form-control" id="txtRampDownAngle" name="txtRampDownAngle" 
                                            [(ngModel)]="Ipl&&Ipl.GetItem('HRampDownAngle').value" (focus)="onfocusfield('HRampDownAngle')" (focusout)="onfocusoutfield()"> 
                    </div>
                </div> -->
         
          <!--   <div class="pt-2">
                <div class="form-group">
                    <label  class="col-form-label col-5 pl-0 ml-0">Corner radius (R)</label>
                    <div class="form-group row">
                        <div class="pl-0 ml-0 col-2">
                            <label  class="col-form-label ">Min</label>   
                        </div>
                        <div class="pl-2 col-4  pt-2">
                            <input type="number"  class="form-control" id="txtMinCornerRadius" name="txtMinCornerRadius" 
                                                [(ngModel)]="Ipl&&Ipl.GetItem('MinCornerRadius').value" (focus)="onfocusfield('MinCornerRadius')" (focusout)="onfocusoutfield()"> 
                        </div>
                        <div class="pl-4 col-2">
                            <label  class="col-form-label">Max</label>   
                        </div>
                        <div class="pl-2 col-4  pt-2">
                            <input type="number"  class="form-control" id="txtMaxCornerRadius" name="txtMaxCornerRadius" 
                                                [(ngModel)]="Ipl&&Ipl.GetItem('MaxCornerRadius').value" (focus)="onfocusfield('MaxCornerRadius')" (focusout)="onfocusoutfield()"> 
                        </div>
                    </div>
                </div>
            </div> -->
            <!--  <div class="pt-2">
                <div class="form-group">
                    <label  class="col-form-label col-5 pl-0 ml-0">Chamfer (C)</label>
                    <div class="form-group row">
                        <div class="pl-0 ml-0 col-2">
                            <label  class="col-form-label ">Min</label>   
                        </div>
                        <div class="pl-2 col-4  pt-2">
                            <input type="number"  class="form-control" id="txtMinChamferRange" name="txtMinChamferRange" 
                                                [(ngModel)]="Ipl&&Ipl.GetItem('MinChamferRange').value" (focus)="onfocusfield('MinChamferRange')" (focusout)="onfocusoutfield()"> 
                        </div>
                        <div class="pl-4 col-2">
                            <label  class="col-form-label">Max</label>   
                        </div>
                        <div class="pl-2 col-4  pt-2">
                            <input type="number"  class="form-control" id="txtMaxChamferRange" name="txtMaxChamferRange" 
                                                [(ngModel)]="Ipl&&Ipl.GetItem('MaxChamferRange').value" (focus)="onfocusfield('MaxChamferRange')" (focusout)="onfocusoutfield()"> 
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="pt-4">
                <div class="form-group">  
                    <div class="pl-0">
                        <label>Overhang</label>
                    </div>
                    <div class="ml-0 ">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optShort" name="Overhang" checked  [(ngModel)]="Ipl&&Ipl.GetItem('OverHang').value" value="Short">
                            <label class="custom-control-label" for="optShort">Short</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optLong" name="Overhang" [(ngModel)]="Ipl&&Ipl.GetItem('OverHang').value" value="Long">
                            <label class="custom-control-label" for="optLong">Long</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optVeryLong" name="Overhang" [(ngModel)]="Ipl&&Ipl.GetItem('OverHang').value" value="Very long">
                            <label class="custom-control-label" for="optVeryLong">Very long</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="form-group"> 
                    <div class="pl-0">
                        <label>Clamping</label>
                    </div>
                    <div class="ml-0">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optStable"  [(ngModel)]="Ipl&&Ipl.GetItem('Clamping').value" value="Stable" name="Clamping" checked>
                            <label class="custom-control-label" for="optStable">Stable</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optNormal" name="Clamping" [(ngModel)]="Ipl&&Ipl.GetItem('Clamping').value" value="Normal">
                            <label class="custom-control-label" for="optNormal">Normal</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optUnstable" name="Clamping" [(ngModel)]="Ipl&&Ipl.GetItem('Clamping').value" value="Unstable">
                            <label class="custom-control-label" for="optUnstable">Unstable</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4">
            <div class="form-group"> 
                <div class="pl-0">
                    <label>Part Shape</label>
                </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="PartShape1" name="PartShape" checked [(ngModel)]="Ipl&&Ipl.GetItem('PartShape').value" value="Normal">
                            <label class="custom-control-label" for="PartShape1">Normal</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="PartShape2" name="PartShape" [(ngModel)]="Ipl&&Ipl.GetItem('PartShape').value" value="Thin wall">
                            <label class="custom-control-label" for="PartShape2">Thin wall</label>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="pt-4">     
                <div class="form-group">
                    <div class="pl-0"> 
                        <label>Type of cut</label>
                    </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optRegular" name="TypeOfCut" checked  [(ngModel)]="Ipl&&Ipl.GetItem('TypeOfCut').value" value="Regular">
                            <label class="custom-control-label" for="optRegular">Regular</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optInterrupted" name="TypeOfCut"  [(ngModel)]="Ipl&&Ipl.GetItem('TypeOfCut').value" value="Interrupted">
                            <label class="custom-control-label" for="optInterrupted">Interrupted</label>
                        </div>            
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="optHeavilyinterrupted" name="TypeOfCut" [(ngModel)]="Ipl&&Ipl.GetItem('TypeOfCut').value" value="Heavily interrupted">
                            <label class="custom-control-label" for="optHeavilyinterrupted">Heavily interrupted</label>
                        </div>
                    </div>   
                </div>
            </div>
         
        </div>
        <div class="col-6 pt-3 pr-0 mr-0" >
            <div *ngIf="ImageName!=''" class="p-0 m-0 border div-input-image">
                <img src="{{ImageName}}" class="input-image">   
            </div>
        </div>    
    </div>
    </div>

