@import "bootstrap";
@import 'src/styles.scss';

.input-image
{
   width:90% ;
}

.input-min-width
{
    min-width: 100px;
}

 @media screen and (max-width: 768px) {
   .div-input-image
 {
     display: none; 
 }
} 

