
              <div class="pb-2">
                <h3 class="siteTitle mb-0 pl-2">Select Material</h3>
              </div>
      <div class="divst">
        <table  datatable [dtTrigger]="dtTriggerMat" [dtOptions]="dtOptionsMat" class="table table-stripe row-border hover" >
          <thead >
            <tr id="dtOptionsMat">
              <th class="d-none">ID</th>
              <th><label>Group<span class="sort-icon ml-1"></span></label></th>
              <th><label>Description<span class="sort-icon ml-1"></span></label></th>
              <th><label>Condition<span class="sort-icon ml-1"></span></label></th>
              <th><label>Hardness<span class="sort-icon ml-1"></span></label></th>
              <th class="no-sort"></th>
              <th class="no-sort" *ngIf="environment.internal"></th>
              <th class="no-sort" *ngIf="environment.internal"></th>
              <th class="no-sort" *ngIf="environment.internal"></th>
              <th class="d-none"></th>
            </tr>
          </thead>
          <tbody>   
              <tr *ngFor="let material of materialsResultSorted " [className]="(material.group == selectedMaterial && FavMat == '')? 'tr-selected' : 'tr-not-selected'" [hidden]="selectedCategory != material.Category">
                <th scope="row" class="d-none">{{material.id}}</th>         
                  <td (click)="matDetailClick(material)"><div class="square" [title]="selectedCategory"><label class="bold font-weight-bold m-1">{{material.group}}</label></div></td>
                  <td (click)="matDetailClick(material)">{{material.description}}</td>
                  <td (click)="matDetailClick(material)">{{material.Condition}}</td>
                  <td (click)="openEditParamsM(material)"><img *ngIf="environment.internal" src="{{environment.ImgEditParams}}" title="Edit"  class="icon-edit">{{material.Hardness + " "}}  {{material.HardnessUnits?material.HardnessUnits:'HB' }}</td>
                  <td class="d-none">

                    <img src="{{environment.ImgView}}" (click)="matDetailClick(material)" title="View materials and standards"  class="icon-grid">

              </td>
                  <td *ngIf="environment.internal">
                         <img src="{{environment.ImgAddToFavorite}}" (click)="openAddToFavM(material)" title="Add to my materials" class="icon-grid">
                  </td>
                  <td *ngIf="environment.internal">                    
                        <img [src]="material.id==DefaultMat ?environment.ImgSetDefault: environment.ImgDefault" (click)="openSetDefaultModal(material)" alt="Set as default" title="Set as default" class="icon-grid">
                  </td>
                  <td *ngIf="environment.internal">
                    <div>
                    <button [className]="(material.group == selectedMaterial  && FavMat == '')? 'col-12 btn btn-select-selected' : 'col-12 btn btn-select'" (click)="OnSelectMaterial(material)" [routerLink]="'/home/machining-operation'">Select</button>
                    </div>
                  </td>     
                  <td class="d-none">{{material.Hardness}}</td>    
              </tr>
          </tbody>
        </table>
     
      </div>