.icon-edit{
width:25px;
padding-right:5px;
margin-left:-20px;
}

.table td, .table th{
    white-space: nowrap;
}

table.dataTable {
    border-collapse: collapse !important;
}

td {
     font-size: 15px;
     }

 th {
     font-size: 18px;
     }
    
.table td:nth-child(2), .table th:nth-child(2){
    width: 5%;
}

.table td:nth-child(3), .table th:nth-child(3){
    width: 30%;
}

.table td:nth-child(4), .table th:nth-child(4){
    width: 18%;
}

.table td:nth-child(5), .table th:nth-child(5){
    width: 12%;
}

.table td:nth-child(6), .table th:nth-child(6){
    width: 8%;
}

.table td:nth-child(7), .table th:nth-child(7){
    width: 8%;
}

.table td:nth-child(8), .table th:nth-child(8){
    width: 8%;
}

.table td:nth-child(9), .table th:nth-child(9){
    width: 11%;
}

@mixin name {
    
}

a:visited img {
    display: none !important;
    visibility: hidden !important;
    border: 1px solid red; 
  }

/* .imgFavorites{
    background: url(environment.ImgAddToFavorite) center center no-repeat;
} */

/* .imgFavorites:visited{
    background: url("http://placekitten.com/100/100?image=1") center center no-repeat;
} */