.icon-edit{
width:25px;
padding-right:5px;
margin-left:-20px;
}

.table td, .table th{
    white-space: nowrap;
}

.table td:nth-child(2), .table th:nth-child(2){
    width: 5%;
}

.table td:nth-child(3), .table th:nth-child(3){
    width: 30%;
}

.table td:nth-child(4), .table th:nth-child(4){
    width: 18%;
}

.table td:nth-child(5), .table th:nth-child(5){
    width: 12%;
}

.table td:nth-child(6), .table th:nth-child(6){
    width: 8%;
}

.table td:nth-child(7), .table th:nth-child(7){
    width: 8%;
}

.table td:nth-child(8), .table th:nth-child(8){
    width: 8%;
}

.table td:nth-child(9), .table th:nth-child(9){
    width: 11%;
}