.divst{
    background: var(--bg-gray);
  }

table.dataTable {
    border-collapse: collapse !important;
}


table.dataTable thead th {
    background: transparent !important;
   white-space: nowrap;
 }
 
//  .table thead th {
//   padding-left: 0px !important;
//   padding-right: 0px !important;
//   }

//   .table th, .table td {
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }

 table.dataTable thead span.sort-icon {
   display: inline-block;
   padding-left: 5px;
   width: 16px;
   height: 16px;
   vertical-align: middle;
 }
 
 table.dataTable thead .sorting span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png') no-repeat center right; }
 table.dataTable thead .sorting_asc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png') no-repeat center right; }
 table.dataTable thead .sorting_desc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png') no-repeat center right; }
 
 table.dataTable thead .sorting_asc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png') no-repeat center right; }
 table.dataTable thead .sorting_desc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png') no-repeat center right; }

 .table-mobile td:nth-child(0), .table-mobile th:nth-child(0){
  width: 20% !important;
  min-width: 20% !important;
  max-width: 20% !important;
  white-space: nowrap;
 
}

 .table-mobile td:nth-child(1), .table-mobile th:nth-child(1){
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  white-space: nowrap;

}
 .table-mobile td:nth-child(2), .table-mobile th:nth-child(2){
  width: 15% !important;
  min-width: 15% !important;
  max-width: 15% !important;
  white-space: nowrap;
}

.table-mobile td:nth-child(3), .table-mobile th:nth-child(3){
  width: 15% !important;
  min-width: 15% !important;
  max-width: 15% !important;
  white-space: nowrap;
}
.table-mobile td:nth-last-child(3), .table th:nth-last-child(3){
  // min-width: 24% !important;
  // max-width: 24% !important;
  width: 8% !important;
  min-width: 8% !important;
  max-width: 8% !important;
  white-space: nowrap;
}


 .table td:nth-child(1), .table th:nth-child(1){
  width: 10% !important;
  min-width: 10% !important;
  max-width: 10% !important;
  white-space: nowrap;
}
 .table td:nth-child(2), .table th:nth-child(2){
  width: 22% !important;
  min-width: 22% !important;
  max-width: 22% !important;
  white-space: nowrap;
}

.table td:nth-child(n+3), .table th:nth-child(n+3){
  // min-width: 24% !important;
  // max-width: 24% !important;
  width: 10% !important;
  min-width: 10% !important;
  max-width: 10% !important;
  white-space: nowrap;
}
.table td:nth-last-child(3), .table th:nth-last-child(3){
  // min-width: 24% !important;
  // max-width: 24% !important;
  width: 8% !important;
  min-width: 8% !important;
  max-width: 8% !important;
  white-space: nowrap;
}

.img-grid{
  height: 70px;
  height: 70px!important;
  max-height:70px!important; 
  position: relative; 
  top:-5px; 
  left: -8px; z-index: 1;
  cursor: pointer
}
.img-grid-mobile{
  height: 50px;
  height: 50px!important;
  max-height:50px!important; 
  position: relative; 
  top:-5px; 
  left: -8px; z-index: 1;
  cursor: pointer
}
.label-desc-mobile
{
  min-width:50px!important;
}
.icon-edit{
  height:25px;
  cursor: pointer;
  // margin-left:-20px;
  }

  
  span { min-height: 21px; }

  .img-pdf
  {
    height:35px;
    width:35px;
  }

  a:hover {
    color: #007bff !important; 
  }

  .icon-noResult{
    height: 200px;
  }

  .div-datatable{  
    background: var(--bg-gray);
}

.ulHover:hover *{
  text-decoration: underline !important;
}

.ulHover:hover{
  text-decoration: underline !important;
}

.ulHover > label {
  border-width: 0px;
}

::ng-deep .customModalClass .modal-content { 
  background-color: transparent;
  border:none;

}

.table-stripe{
  width: 100% !important;
  table-layout: fixed;
}

::ng-deep .dataTables_scrollHeadInner{
  width:100% !important;
}
.dataTables_scrollHeadInner table{
  width:100% !important;
}

.dataTables_scrollHead div:nth-child(1){
  width:100% !important;

}

.logoImg{
  height: 50px;
}

.header-pdf
{
    background-color:var(--background-color-header);
    height: 55px;
}
.header-pdf1
{
    background-color:var(--btn-bg-gray-color);
    height: 25px;
}


.labelwhite{
    color:white;
    margin-right: 25px;
  }
  ::ng-deep .filter-mobile-modal .modal-content { 
    margin-top:120px!important;
    margin-left:0px!important;
    padding-top: 0px!important;
    padding-left: 0px!important; 
    min-height: 700px!important;  
  } 
  