
<div class="modal-body">
	<div>		
		<div class="row vertical-align">
                <div>
                    <a href="#" title=""><img src="assets/img/Help_Icon.svg" class="img-responsive"></a>
                </div>
                <div>
                    <a href="#" title=""><img src="assets/img/Help_Icon.svg" class="img-responsive"></a>
                </div>
                <div>
                    <a href="#" title=""><img src="assets/img/Help_Icon.svg" class="img-responsive"></a>
                </div>    
            </div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>