<div class="row" style="margin-left: -40px !important;"> 
    <div class="radio radio-inline" *ngFor="let item of radioList">
        <input type="radio" id="rb{{item}}" name="radio1" value="{{item}}" [(ngModel)]="curRadioChecked" (click)="onRadioButtonClick(item)" >
        <label  for="rb{{item}}">
            {{item.replace('2','')}}<sup [hidden]="(!item.includes('2'))">2</sup>
        </label>
    </div>
</div> 
<div class="customSilder">

<ng5-slider #paramSlider [(value)]="value" [options]="options" (valueChange)="onUserChangeEnd($event)" (userChangeEnd)="onUserChangeEnd($event)">
</ng5-slider>

<input type="number" [ngModel]="value" (ngModelChange)="onSearchChange($event)" [ngClass]="(dangMsg != '')? 'is-invalid' : ''" ng5sliderlabel class="form-control col-sm-2 ng5-slider-span ng5-slider-bubble ng5-slider-model-value sliderTextBox" [style.left.px]="leftPosition">


</div>
<h5 class="text-danger desc-label-big-bold">{{dangMsg}}</h5>
