<div class="modal-header">
    <div>
      <h4 class="pt-2 modal-title siteTitle">{{'Alert - Metric/Inch units ' | translate}}</h4>
    </div>    
     <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close('cancel')">
       <span aria-hidden="true" class="span_x">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <div class="form-group">
       <label>{{'Please note - changing units will reset input data!' | translate}}</label>
       <label>{{'A new search will  start and your data will not be saved.' | translate}}</label>     
     </div>
   </div>
   <div class="modal-footer">       
     <button type="button" class="btn btn-select-cancel" (click)="this.activeModal.close('cancel')"  >Cancel</button>        
    <button type="button" class="btn btn-select" (click)="this.activeModal.close('change')"  >Change</button>        
   </div>
 
 
