
<div class="border-left-gray border-right-gray"> 
    <div class="row">          
      <div class="col col-20 ml-0 pl-2 pr-0 pt-0 " > 
         <div class="pt-4 pb-0">

         </div>
          <div class="pr-2 pt-0 border-right-gray">
            <app-machines-filter *ngIf="isLoaded" (MachineFilterChanged)="onMachineFilterChanged($event)"
                                (MachineFilterClear)="onMachineFilterClear()" [onChangeMachineList]="eventsChangeMachineList.asObservable()" [onChangeFavorite]="eventsChangeFavorite.asObservable()"></app-machines-filter>
          </div>
      </div>
      <div class="col col-80 mt-2 mr-0 pl-2 pr-2">                                       
          <div class="pb-1 pt-0 mt-0 pt-4 d-flex justify-content row" >
            <div class="col-6 pt-4 pl-0">  
              <h3 class="siteTitle pl-0 pb-0">Select Machine</h3>
            </div>
            <div class="float-right col-6 text-right pt-4">
              <label class="pl-2 pb-0">{{'Found Machines' | translate}} : {{countrow}} {{'out of '| translate}} {{countallrow}}</label>
            </div>
          </div>           
          <div class="div-datatable">              
              <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                class="table table-stripe row-border hover ">
                <thead *ngIf="isLoaded">
                  <tr id="dtOptions">
                    <th class="d-none">ID</th>                                                                                           
                    <th><label>{{'Machine Name' | translate}}<span class="sort-icon ml-1" ></span></label></th>                  
                    <th><label>{{'Adaptation Type'| translate}}{{' '}}&{{' '}}{{'Size' | translate}}<span class="sort-icon ml-1"></span></label></th>
                    <th><label>{{'Power' | translate}}{{ msrv_appsetting.Units =='M' ? ' (kW)' : ' (HP)' }}<span class="sort-icon ml-1"></span></label></th>
                    <th><label>{{'Spindle Speed' | translate}}{{' (rpm)'}}<span class="sort-icon ml-1"></span></label></th>                
                    <th><label>{{'Torque' | translate}}{{ msrv_appsetting.Units =='M' ? ' (Nm)' : ' (Lbf)' }}<span class="sort-icon ml-1"></span></label></th>
                    <th></th>                 
                    <th></th>
                    <th></th> 
                    <th class="d-none" >Sec</th> 
                    <th class="d-none" >Fav</th>                  
                  </tr>
                </thead>
                <tbody *ngIf="isLoaded">
                  <tr  *ngFor="let mach of listmachines" (click)="onclickrow(mach)" [className]="mach?.IsSelected? 'tr-selected' : 'tr-not-selected'">
                    <th scope="row" class="d-none">{{mach.MachineID}}</th>                                                                                         
                    <td><div class="pl-2">{{mach.MachineName}}</div></td>
                    <td><div class="pl-2">{{mach.AdaptationType}} - {{mach.AdaptationSize}}</div></td>
                    <td><div class="pl-2">{{mach.Power}}</div></td>
                    <td><div class="pl-2">{{mach.SpindleSpeed}}</div></td>                
                    <td><div class="pl-2">{{mach.Torque}}</div></td>                   
                    <!-- <td>
                      <a data-toggle="tooltip" title="{{ 'View Machine Details' | translate}}">
                        <img src="{{environment.ImgView}}"                          
                          [routerLink]="['/home/machine-item/', mach.MachineIDBase, mach.MachineName ]" class="icon-grid">
                      </a>
                    </td> -->
                   <td data-sort="image1">
                      <a data-toggle="tooltip" title="{{ mach.isFavorite  ? 'Delete My Machine' : 'Add To My Machines' | translate}}" class="cursor-pointer">
                        <img [src]="mach.isFavorite ?environment.ImgFavorite: environment.ImgAddToFavorite" class="icon-grid" (click)="OnFavoriteMachine(mach)" >
                      </a>
                    </td>
                    <td data-sort="image2">
                      <a data-toggle="tooltip" title="{{'Default Machine' | translate}}" class="cursor-pointer" (click)="SetDefault(mach.MachineID)"> 
                        <img [src]="mach.MachineID==defaultmachine ?environment.ImgSetDefault: environment.ImgDefault"  class="icon-grid">
                      </a>
                    </td>
                    <td data-sort="image3">
                      <div class="float-right">
                        <button [className]="mach.IsSelected? 'col-12 btn btn-select-selected' : 'col-12 btn btn-select'"
                          (click)="OnSelectMachine(mach)" [routerLink]="'/home/materials'">{{mach.DescSelect| translate}}</button>
                      </div>
                    </td> 
                    <th scope="row" class="d-none">{{mach.Sec}}</th> 
                    <th scope="row" class="d-none">{{mach.isFavorite}}</th>                 
                  </tr>                  
                </tbody>
              </table>
            </div>               
        </div>
      </div>   
</div>
