::ng-deep .filter-mobile-modal .modal-content { 
  margin-top:120px!important;
  margin-left:0px!important;
  padding-top: 0px!important;
  padding-left: 0px!important; 
  //min-height: 700px!important;  
} 

.button ,.button :focus ,button:focus-visible,
.span ,.span :focus ,span:focus-visible {
  border: none !important;
  outline: none !important
}

.span_x_mobile
{
   font-size: 32px;
   border: none !important;
   outline: none !important  
}

.div-tab-menu-selected-mobile
{
    text-align: left;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:4px;
    //border-right:1px solid   var(--border-color-gray)  ;  
    border-left:1px solid   var(--border-color-gray)  ;   
    border-top:3px solid #fede15 ;
    background-color:white; 
    cursor: pointer;      
}

