<div class="pt-0 pl-0 ml-0" style="min-height:50px!important;">    
<button type="button"  class="close pt-1 pr-2 mr-2" aria-label="Close" (click)="this.activeModal.close('send')">              
  <span aria-hidden="true" class="span_x_mobile">&times;</span>
</button>
<!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.close('A')">
  <span aria-hidden="true" class="span_x">&times;</span>
</button> -->
</div>
<div>  
<ul class="nav nav-fill" style="border:0px">                  
  <li  class="nav-item"  (click)="OpenSort()">  
      <div class="pl-2 text-center" style="padding-bottom:3px;" [ngClass]="TabActive==1?'div-tab-menu-selected':'div-tab-menu'">
            <label>{{'Sort' | translate}}</label>
      </div>                                                                                                                              
  </li> 
  <li  class="nav-item"  (click)="OpenFilter()">  
    <div class="pr-2 text-center"  [ngClass]="TabActive==2?'div-tab-menu-selected':'div-tab-menu'" >
      <label>{{'Filter' | translate}}</label>          
    </div>                                                                                                                              
</li>          
</ul> 

<div *ngIf="TabActive==1">
  <div class="ml-2 mt-4">
    <div class="row">     
      <div class="col-6 pt-3">
        <label>{{'Spindle Speed' | translate}}{{' (rpm)'}}</label>
      </div>  
      <div class="col-3 pt-3">
        <img  style="width:30px" [src]="sortfield=='SpindleSpeed' && sorttype=='1'?environment.ImagePath+ 'sort-2.svg':environment.ImagePath+ 'sort-1.svg'" (click)="setsort('SpindleSpeed','1')" class="MenuImg">
      </div>
      <div class="col-3 pt-3">
        <img  style="width:30px" [src]="sortfield=='SpindleSpeed' && sorttype=='2'?environment.ImagePath+ 'sort-3.svg':environment.ImagePath+ 'sort-4.svg'" (click)="setsort('SpindleSpeed','2')" class="MenuImg">
      </div>
    </div>  
    <div style="height:40px;"></div>          
    <div class="row">     
      <div class="col-6">
        <label>{{'Power' | translate}}{{ srv_appsetting.Units =='M' ? ' (kW)' : ' (HP)' }}</label>
      </div>  
      <div class="col-3">
        <img  style="width:30px" [src]="sortfield=='Power' && sorttype=='1'?environment.ImagePath+ 'sort-2.svg':environment.ImagePath+ 'sort-1.svg'" (click)="setsort('Power','1')" class="MenuImg">
      </div>
      <div class="col-3">
        <img  style="width:30px" [src]="sortfield=='Power' && sorttype=='2'?environment.ImagePath+ 'sort-3.svg':environment.ImagePath+ 'sort-4.svg'" (click)="setsort('Power','2')" class="MenuImg">
      </div>
    </div>
    <div style="height:40px;"></div>     
    <div class="row">     
      <div class="col-6">
        <label>{{'Torque' | translate}}({{ srv_appsetting.Units =='M' ? 'Nm' : 'Lb*inch' | translate}})</label>
      </div>  
      <div class="col-3">
        <img style="width:30px" [src]="sortfield=='Torque' && sorttype=='1'?environment.ImagePath+ 'sort-2.svg':environment.ImagePath+ 'sort-1.svg'" (click)="setsort('Torque','1')" class="MenuImg">
      </div>
      <div class="col-3">
        <img  style="width:30px" [src]="sortfield=='Torque' && sorttype=='2'?environment.ImagePath+ 'sort-3.svg':environment.ImagePath+ 'sort-4.svg'" (click)="setsort('Torque','2')" class="MenuImg">
      </div>
    </div>
    <div style="height:80px;"></div>                                           
</div>  
</div>

<div *ngIf="TabActive==2" class="pl-2 pr-2 mt-2">          
<app-machines-filter  (MachineFilterChanged)="onMachineFilterChanged($event)"  [clearfiltermobile]="eventsClearFilterMobile.asObservable()"
(MachineFilterClear)="onMachineFilterClear()" [onChangeMachineList]="eventsChangeMachineList.asObservable()" ></app-machines-filter>  
</div>
</div>
<div class="modal-footer"> 
    <div class="row">            
      <div  class="col-6 text-right mt-2">  
        <button type="button" class="btn btn-select-cancel" (click)="Reset()">{{'Reset' | translate}}</button>        
      </div>
      <div  class="col-6 text-right mt-2">
        <button  type="button" style="min-width:100px;" class="btn btn-select" (click)="Apply()">{{'Apply' | translate}}</button>           
      </div>
    </div>
</div>


