.form-group {
    margin-bottom: 1rem !important;

  }

  .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }

  .form-control-lg {
      height: calc(1.5em + 0.8rem + 2px);
  }

  option {
    background-color: #F1F1F1;
}

select{
    background-color: #F1F1F1;
    height: calc(1.5em + 1.4rem + 2px);
}
//   .form-control{
//     font-size: medium;
//   }