.grayDiv{
    background-color: #f0f2f4;
}
.logoImg{
    height: 50px;
}
.header-pdf
{
    background-color:var(--background-color-header);
    height: 55px;
}
.header-pdf1
{
    background-color:var(--btn-bg-gray-color);
    height: 25px;
}


.labelwhite{
    color:white; 
    margin-right: 7px;
  }