
<div class="container" class="p-0 m-0 pt-2">
    <div class="row">
        <div>
            <button type="button" class="btn sileLinks mb-0 pl-0 ml-0" (click)="ClearDataChild()">{{'Clear All' | translate}}</button>
        </div>       
    </div>
    <div class="row"> 
         <div class="pl-0 col-6 ">
            <label>Indexable Insert</label>  
            <div class="row pt-2">           
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="chkbIsIndTool"  name="chkbIsIndTool" 
                        [checked]="srv_StMng.IPL.GetItem('TD_IT_InsertTool').value=='True'" (change)="change('TD_IT_InsertTool')">
                        <label class="custom-control-label" for="chkbIsIndTool"></label>
                    </div>
                </div>        
                <div class="pr-2">
                    <label for="chkbIsIndTool" class="form-check-label text-nowrap">{{'Tools' | translate}}</label>
                </div>
            </div>
            <div class="row">          
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="chkbIsIndHead"  name="chkbIsIndHead" 
                        [checked]="srv_StMng.IPL.GetItem('TD_IT_InsertHead').value=='True'" (change)="change('TD_IT_InsertHead')">
                        <label class="custom-control-label" for="chkbIsIndHead"></label>
                    </div>
                </div>  
                <div class="pr-2">
                    <label for="chkbIsIndHead" class="form-check-label text-nowrap">{{'Heads' | translate}}</label>
                </div>
            </div>               

        </div>   
        <div *ngIf="srv_StMng.SecApp!=770" class="pl-4 pr-4 col-6 border-left-gray">   
            <label>Solid</label> 
             <div div class="row   pt-2">               
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="chkbIsSolid"  name="chkbIsSolid" 
                        [checked]="srv_StMng.IPL.GetItem('TD_IT_SolidTool').value=='True'" (change)="change('TD_IT_SolidTool')">
                        <label class="custom-control-label" for="chkbIsSolid"></label>
                    </div>
                </div>  
                 <div class="pr-4 pl-0">
                    <label for="txtIsSolidHeader" class="form-check-label text-nowrap">{{'Tools' | translate}}</label>
                </div>      
            </div>  
            <div  class="row">               
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="chkbIsSolidHead"  name="chkbIsSolidHead" 
                        [checked]="srv_StMng.IPL.GetItem('TD_IT_SolidHead').value=='True'" (change)="change('TD_IT_SolidHead')">
                        <label class="custom-control-label" for="chkbIsSolidHead"></label>
                    </div>
                </div>   
                 <div class="pr-4  pl-0 ">
                    <label for="txtIsSolidHeader" class="form-check-label text-nowrap">{{'Heads' | translate}}</label>
                </div>     
            </div>
           
        </div>
       
    </div>
    <div class="pl-0 pt-4 ">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="optHightFeed" name="TypeFeed" [(ngModel)] ="TypeFeed" (change)="changeTypeFeed()"  value="HightFeed">
            <label class="custom-control-label" for="optHightFeed">{{'High Feed' | translate}}</label>
        </div>                              
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="optNormalFeed" name="TypeFeed" [(ngModel)] ="TypeFeed"  (change)="changeTypeFeed()"   value="NormalFeed">
            <label class="custom-control-label" for="optNormalFeed">{{'Normal Feed' | translate}}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="optBothFeed" name="TypeFeed"  [(ngModel)] ="TypeFeed"   (change)="changeTypeFeed()"   value="BothFeed">
            <label class="custom-control-label" for="optBothFeed">{{'Both' | translate}}</label>
        </div>  
    </div>
    <div class="pr-2">
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_brandname"          *ngIf="isLoad" [labeldescription]="'Brand Name'"       [fieldname]="'BrandName'"     [funcname]="'BRAND'"    [fieldid]="'TD_BrandName'"></app-optimizetool-filter> 
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_tooldesignation"    *ngIf="isLoad" [labeldescription]="'Tool Designation'" [fieldname]="'Designation'"   [funcname]="'TOOL'"     [fieldid]="'TD_ToolDesignation'"></app-optimizetool-filter>  
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_insertdesignation"    *ngIf="isLoad" [labeldescription]="'Insert/Solid Designation'"   [fieldname]="'Designation'"   [funcname]="'INSERT'"   [fieldid]="'TD_InsertDesignation'"></app-optimizetool-filter>  
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_toolcatalog"    *ngIf="isLoad" [labeldescription]="'Tool Catalog No'"   [fieldname]="'CatalogNo'"   [funcname]="'TOOLCATALOGNO'"   [fieldid]="'TD_ToolCatalogNo'"></app-optimizetool-filter>       
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_insertcatalog"    *ngIf="isLoad" [labeldescription]="'Insert Catalog No'"   [fieldname]="'CatalogNo'"   [funcname]="'INSERTCATALOGNO'"   [fieldid]="'TD_InsertCatalogNo'"></app-optimizetool-filter> 
        <app-optimizetool-filter [events]="eventsSubject.asObservable()" id="app_grade"    *ngIf="isLoad" [labeldescription]="'Grade'"   [fieldname]="'CarbideGrade'"   [funcname]="'GRADE'"   [fieldid]="'TD_Grade'"></app-optimizetool-filter>   
    </div>
    <div class="pt-2">
        <app-optimizetool59  *ngIf="srv_StMng.SecApp==760 || srv_StMng.SecApp==770 || srv_StMng.SecApp==57 || srv_StMng.SecApp==780 || srv_StMng.SecApp==790" [events]="eventsSubject.asObservable()" ></app-optimizetool59>
    </div>
    <app-optimizetool-adaptortype [events]="eventsSubject.asObservable()"></app-optimizetool-adaptortype>   
</div>