   
        <div class="container" class="p-0 m-0 pt-2">   
                 
            <div class="modal-header">            
                <div>                                       
                    <label  class="siteTitle col-form-label pl-1">{{'Contact Us' | translate}}</label> 
                </div> 
                <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close('cancel')">
                    <span aria-hidden="true" class="span_x">&times;</span>
                </button>
            
            </div>
            <div class="pl-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">    
                    <div class="row col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Name' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">
                        <input formControlName="name"  class="form-control  input-min-width" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"  [(ngModel)]="Name"> 
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{'Name is required' | translate }}</div>
                        </div>
                    </div>  
                </div> 
                <div class="form-group">    
                    <div class="row col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Email' | translate}}</label>
                        <label class="pl-2 asterisk-red pt-3">*</label>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">
                        <input type="email" formControlName="email" class="form-control  input-min-width" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"   
                        [(ngModel)]="Email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div> 
                        </div>
                    </div>  
                </div>   
                <div class="form-group">    
                    <div class="row col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Country' | translate}}</label>               
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">
                        <input formControlName="country" class="form-control  input-min-width"   [(ngModel)]="Country"> 
                    </div>  
                </div>  
                <div class="form-group">    
                    <div class="row col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Company Name' | translate}}</label>
                        
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">
                        <input formControlName="companyname"  class="form-control  input-min-width"  
                        [(ngModel)]="CompanyName"> 
                    </div>  
                </div> 
                <div class="form-group">    
                    <div class="row col-12 pt-0">
                        <label class="pl-0 pt-3">{{'Message' | translate}}</label>                
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">
                        <textarea *ngIf="!srv_appsetting.isMobileResolution"  formControlName="message" rows="8"  class="form-control input-min-width" 
                        [(ngModel)]="Message"></textarea>
                        <textarea *ngIf="srv_appsetting.isMobileResolution"  formControlName="message" rows="3"  class="form-control input-min-width" 
                        [(ngModel)]="Message"></textarea>
                    </div>  
                </div> 
                <div class="form-group">   
                    <div class="text-center pb-4 pt-4 col-xl-12 col-lg-12 col-md-12 col-sm-12  pt-1 pl-0">                     
                        <button class="btn btn-select"  (click)="onSubmit()">{{'Submit'| translate}}</button>                                                              
                    </div>
                </div>     
</form>
</div>   
</div>
    

