<div class="p-0 m-0"> 
    <div class="pl-0 pt-4">
      <div>
        <span>{{'Coolant' | translate}}</span>  
      </div>
      <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="optCoolantW" name="Coolant" [(ngModel)] ="coolant" (change)="changeCoolant()"  value="Wet">
          <label class="custom-control-label" for="optCoolantW">{{'Wet' | translate}}</label>
      </div>                              
      <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="optCoolantD"  [disabled]="isDisabledState" name="Coolant" [(ngModel)] ="coolant"  (change)="changeCoolant()"   value="Dry">
          <label class="custom-control-label" for="optCoolantD">{{'Dry' | translate}}</label>
      </div> 
    </div> 
    <div class="pt-3 mt-2">                
      <span>DC - </span><span>{{'Cutting Diameter' | translate}}</span>    
      <div class="custom-slider pt-0 mt-4">
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_DiameterFrom').value"  class="form-control-sm  pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_DiameterTo').value" [options]="options_dc"></ng5-slider>
      </div>   
      <div class="row pt-2">
          <div class="col-6 pl-0 row">
              <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                                [(ngModel)]="msrv_StMng.IPL.GetItem('TD_DiameterFrom').value"> 
              </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
                    
          <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_DiameterTo').value">
              </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>          
      </div>             
    </div>
    <div class="pt-3 mt-2">
      <div *ngIf="msrv_StMng.SecApp=='770'">
        <span>DCX - </span><span>{{'Cutting Diameter Maximum' | translate}}</span>   
        <div class="custom-slider pt-0 mt-4" >
            <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_DCXMin').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_DCXMax').value" [options]="options_dc"></ng5-slider>
        </div>  
     </div>
      <div class="row pt-4" *ngIf="msrv_StMng.SecApp=='770'">
          <div class="col-6 pl-0 row">
              <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_DCXMin').value"> 
              </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
          <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_DCXMax').value">
                </div>
                <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div class="pt-3 mt-2">        
      <span>NOF - </span><span>{{'Number Of Effective Flutes' | translate}}</span>
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('TD_NOFMin').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('TD_NOFMax').value" [options]="options_nof"></ng5-slider>
      </div>   
      <div class="row pt-4">
           <div class="col-6 pl-0 row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_NOFMin').value"> 
              </div>             
          </div>
          <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
              <input type="number" class="form-control" 
                              [(ngModel)]="msrv_StMng.IPL.GetItem('TD_NOFMax').value">
                </div>               
          </div>
      </div>   
    </div>
    <div  *ngIf="msrv_StMng.SecApp=='760' || msrv_StMng.SecApp=='770' || msrv_StMng.SecApp=='57'" class="pt-3 mt-2">
      <span>RE - </span><span>{{'Corner Radius' | translate}}{{' (R)'}}</span>    
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('MinCornerRadius').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('MaxCornerRadius').value" [options]="options_radius"></ng5-slider>
      </div>   
      <div class="row pt-4">
            <div class="col-6 pl-0 row">
              <div class="col-8 pl-0">
              <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MinCornerRadius').value">
                               </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div> 
          </div>
          <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MaxCornerRadius').value">
                </div>
                <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div *ngIf="msrv_StMng.SecApp=='760' || msrv_StMng.SecApp=='57'" class="pt-3 mt-2">    
      <span>CHW - </span><span>{{'Corner Chamfer Width' | translate}}</span>      
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('MinChamferRange').value"  class="form-control-sm pt-0 mt-0"  [(highValue)]="msrv_StMng.IPL.GetItem('MaxChamferRange').value" [options]="options_chamfer"></ng5-slider>
      </div>   
      <div class="row pt-4">
             <div class="col-6 pl-0 row">
                <div class="col-8 pl-0">
                    <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MinChamferRange').value">
               </div>
              <div class="pl-0">
                <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div> 
          </div>
           <div class="col-6 ml-auto row">
              <div class="col-8 pl-0">
                <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('MaxChamferRange').value">
                </div>
                <div class="pl-0">
                    <label>{{msrv_appsetting.UnitslengthDesc}}</label>
              </div>
          </div>
      </div>   
    </div>
    <div class="pt-3 mt-2">    
      <span>RMPX - </span><span>{{'Ramping Angle maximum' | translate}}</span>  
      <div class="custom-slider pt-0 mt-4" >
          <ng5-slider  [(value)]="msrv_StMng.IPL.GetItem('HRampDownAngle').value"  class="form-control-sm pt-0 mt-0"   [options]="options_rampdown"></ng5-slider>
      </div>   
      <div class="row pt-4">
          <div class="col-4 pl-0">
              <input type="number" class="form-control"  
                              [(ngModel)]="msrv_StMng.IPL.GetItem('HRampDownAngle').value"> 
          </div>  
          <div class="pl-0">
              <label>&#176;</label>
          </div>        
      </div>   
    </div>  
</div>