<div class="container" class="p-0 m-0">  
  <div class="form-group row">               
    <label for="txtRampDownAngle" class="col-form-label col-5 pl-0 ml-0">Ramp angle (RD)</label>    
                    <div class="col-7  pt-2">
                        <input type="number"  class="form-control" id="txtRampDownAngle" name="txtRampDownAngle" 
                                            [(ngModel)]="Ipl&&Ipl.GetItem('HRampDownAngle').value" (focus)="onfocusfield('HRampDownAngle')" (focusout)="onfocusoutfield()"> 
                    </div>
                </div>            
</div>