/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
//@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

:root {
  --btn-bg-select-color: #204f96;
  --btn-bg-gray-color: #757677;
  --content-color:#212529;
  --bg-gray: #f6f6f7;
  --bg-blue-header: #82aade;
  --bg-mat-P:#00C;
  --bg-mat-M:#ffff00;
  --bg-mat-K:#C00;
  --bg-mat-N:#009946;
  --bg-mat-S:#ffa500;
  --bg-mat-H:#888;
  --bg-hover:#ebedf2;
  --family-font-h: 'Oswald',Calibri,Arial;
  --family-font: 'Roboto',Calibri,Arial;
  --row-selected:#b5c4da;
  --background-color-menu:#e7e8e9;
  --border-color-gray:#bababa  ;
  /* --border-color-gray:#b2b2b2 ; */
}
 
.desc-label-big-bold
{
    color: var(--btn-bg-select-color);
    font-weight:bold;
    font-size: 18px;
    font-family:var(--family-font-h);
}

.btn-select
 {
    background-color: var(--btn-bg-select-color);
    color:#FFF;
    border-color:var(--btn-bg-select-color);   
    font-size: 14px;
}

@include media-breakpoint-between(lg, xl){ 
 .btn-select  
 { 
    min-width:150px;
    max-width: 150px;
  
}
.btn-select-selected 
  {    
    min-width:150px;
    max-width: 150px;   
  }

  .btn-select-selected:hover
  {     
    min-width:150px;
    max-width: 150px;   
  }
 }

.btn-select-selected
{
   background-color: #597cb0;
   color:#FFF;
   border-color:var(--btn-bg-select-color);  
   /* min-width:150px;
   max-width: 150px;  */
   font-size: 14px;
}

.btn-select-selected:hover
{
    background-color: #597cb0;
    color:#FFF!important;
    border-color:var(--btn-bg-select-color);  
    /* min-width:150px;
    max-width: 150px;  */
    font-size: 14px;
    font-weight: bold;
}

.btn-select:hover
{
    background-color:var(--btn-bg-select-color);
    color:#FFF!important;
    font-size: 14px;
    border-color: var(--btn-bg-select-color);    
    font-weight: bold;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px var(--border-color-gray)!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px var(--border-color-gray)!important;
}

.btn-select:active
{
    background-color: var(--btn-bg-select-color);
    color:#FFF;
    font-size: 14px;
    border-color: var(--btn-bg-select-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px var(--border-color-gray)!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px  var(--border-color-gray)!important;
}
 
.btn-select-cancel
{
    background-color: var(--btn-bg-gray-color);
    color:#FFF;
    border-color:var(--btn-bg-gray-color);   
    min-width:100px;
    font-size: 14px;
}

input:not(:placeholder-shown) {
   background-color:  #F1F1F1!important;
   border-radius: 0px!important;
    font-size: 14px; 
}

input:placeholder-shown {
   background-color:  #F1F1F1!important;
   border-radius: 0px!important;
    font-size: 14px;     
  //  font-size: $font-size-sm!important;
}

.input-empty{
  border-color: red;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px red!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px red !important; 
}

input:focus
{  
  background-color:  #F1F1F1!important;
  border-radius: 0px!important;
  font-size: 14px; 
  //  font-size: $font-size-sm!important; 
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px var(--border-color-gray)!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px var(--border-color-gray) !important;  
}

label,span,p,input,select,table,button,a,li
{
  font-family: var(--family-font); 
  font-size:14px; 
  color:var(--content-color);
  font-weight: normal;
}  

button{
  border-radius: 0!important;
}

select{
  font-family: var(--family-font); 
  font-size:14px; 
  border-radius: 0!important; 
  //  font-size: 0.9rem!important; 
  // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px var(--border-color-gray)!important;
  //         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px var(--border-color-gray) !important;  
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:var(--btn-bg-select-color)!important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color:var(--btn-bg-select-color)!important;
}
  
html {
  //font-size: 0.8rem;
  font-weight:normal;
}

@include media-breakpoint-up(sm) {
  html {
    //font-size: 0.8rem;
    font-weight:normal;
  }
}

@include media-breakpoint-up(md) {
  html {
    //font-size: 0.8rem;
    font-weight:normal;
  }
}

@include media-breakpoint-up(lg) {
  html {
    //font-size: 0.8rem;
    font-weight:normal;
  }
}

.icon-grid{
height: 35px;
cursor: pointer;
}

.form-group 
{
  padding: 0!important;
  margin:0!important;
}

.row
{
  padding: 0!important;
  margin:0!important;
}

p
{
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin-top:0!important;
  margin-bottom:0!important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tr.tr-selected {
  background-color: var(--row-selected) !important;
}
/* .tr-selected
{
    background-color: var(--row-selected);    
} */
  
.tr-not-selected
{
    background-color:var(--bg-gray) !important;
}

.tr-not-selected:hover
{
    background-color: #ebedf2 !important;
}

.td-selected{
  background-color: var(--row-selected) !important;  
}
.modal-title
{
  color:var(--btn-bg-select-color);
}

.modal-footer{
  border-top: none;
}

.modal-header{
  border-bottom: none;
}

.modal-header .close{
  outline: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.asterisk-red
{
    color:red;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-not-allowed
{
  cursor: not-allowed
}

.table thead th {
border-bottom: 2px solid #dee2e6 !important;
padding: 0.5rem !important;
}

label {
  margin:0px !important;
}

.table th, .table td {
  padding: 0.5rem !important;
  vertical-align: middle !important;
}

.table th {
  border-top: none !important; 
}

table.dataTable.no-footer{
  border-bottom: 2px solid #dee2e6;
}

.siteTitle{
  color:var(--btn-bg-select-color) !important;
  font-weight: normal !important;
  font-size: 18px !important;
  font-family: var(--family-font-h) !important  
}

// .siteContent{
//   color:var(--content-color) !important;
//   font-weight: normal !important;
//   font-size: 14px !important;
//   font-family: var(--family-font) !important;
// }

.breadcrumb-item.active{
  color:var(--content-color) !important;
}
.sileLinks{
  color:#007BFF !important;
  font-weight: normal !important;
  font-size: 14px !important;
  font-family: var(--family-font) !important;
}

.dataTables_scrollBody thead tr[role="row"]{
  visibility: collapse !important;
  display: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: none;
}

.border-left-gray
{
    border-left :1px solid  var(--border-color-gray) ;
}

.border-right-gray
{
    border-right :1px solid  var(--border-color-gray) ;
}

.border-bottom-gray
{
    border-bottom:1px solid var(--border-color-gray) ;
}

.btn-reset
{
    color:var(--btn-bg-select-color)!important;
    border-color:white;  
    font-size: 14px; 
}

//todo:
html, body{ 
  width: 100% !important;
  height: 100%!important;
  max-height: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  margin:0!important; 
  //background-color: red;  
  //overflow: hidden;
} 

