
.input-image
{
   width:80% ;
}

.input-min-width
{
    min-width: 100px;     
}

.input-surf
{
    min-width: 70px; 
    max-width: 140px;   
}

 @media screen and (max-width: 768px) {
   .div-input-image
 {
     display: none; 
 }
} 
