
.input-image
{
   width:80% ;
}

.input-min-width
{
    min-width: 100px;     
}

.input-surf
{
    min-width: 70px; 
    max-width: 140px;   
}

 @media screen and (max-width: 768px) {
   .div-input-image
 {
     display: none; 
 }
} 

.logoImg{
    height: 50px;
}
.header-pdf
{
    background-color:var(--background-color-header);
    height: 55px;
}
.header-pdf1
{
    background-color:var(--btn-bg-gray-color);
    height: 25px;
}

.labelwhite{
    color:white; 
    margin-right: 7px;
  }