

.img-grid{
    width: 45%;
    margin: 10px;
}
.img-grid-mobile{
    width: 100%;
    //margin: 10px;
}


.sileLinks:hover{
    text-decoration: underline;
}

.div-comment
{
    min-width:34%;
    max-width:34%;
}

.div-comment-mobile
{
    min-width:100%;
    max-width:100%;
}
.div-comment-pdf
{
    min-width:25%;
    max-width:25%;
}

.div-image
{
    min-width:21%;max-width:21%;
}
.div-image-pdf
{
    min-width:18%;max-width:18%;
}
.div-image-mobile
{
    min-width:30%;max-width:30%;
    margin: 0px;
    padding:0px;
}
.MenuImg{
    height: 20px;
    cursor:pointer;
    }