

.img-grid{
    width: 45%;
    margin: 10px;
}


.sileLinks:hover{
    text-decoration: underline;
}

.div-comment
{
    min-width:39%;
    max-width:39%;
}
.div-comment-pdf
{
    min-width:30%;
    max-width:30%;
}