.ImgMachineType{
    height: 100px;
    padding:5px;    
    }

/* .desc-machine-bold
{
    color:var(--btn-bg-select-color);
    font-weight:bold;
} */

.desc-machine
{
    color: var(--btn-bg-select-color);  
}