    

    <div class="container-fluid pl-0 pr-0 mr-0" >
   
    <div class="border-top">
       
     </div>
    <div class="row" *ngIf="isLoadingAdSize">        
        <div class="col-12 col-lg-4 col-xl-4 col-sm-12 border-bottom  pt-2 pb-2 pr-0">                     
             <div class="pl-3">
                <div class="custom-control custom-checkbox custom-control-inline ">                 
                    <input type="checkbox"   [disabled]="MachineType=='Machining center' || MachineType=='Lathe'"
                    class="pt-1" [checked]="machHeader.SpindleType ==spindle.SpindleType" [(ngModel)]="IsSelectedSpindle" class="custom-control-input" name="TypeSindle" [attr.id]="'chkTypeSindle' + spindle.SpindleType" (change)= "ChangeMachineSpindleType()"  >
                    <label class="custom-control-label siteTitle" [attr.for]="'chkTypeSindle' + spindle.SpindleType">{{DescSpindle | translate}}</label>
                </div>
            </div>

             <div class="border-right">
                <div class="pt-2">
                    <label class="pl-3 pb-0 mb-0 bold font-weight-bold">{{'Spindle' | translate}} </label>
                </div>
                 <div class="form-group row pt-3">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtSpindleSpeed" class="">{{'Spindle Speed' | translate}}{{' (rpm)'}}</label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtSpindleSpeed" name="txtSpindleSpeed" [(ngModel)]="spindle.SpindleSpeed" > 
                    </div>                    
                </div> 

                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtPower"><span>{{'Power' | translate}}</span><span>{{ msrv_appsetting.Units =='M' ? ' (kW)' : ' (HP)' }}</span></label>
                    </div>  
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtPower" name="txtPower" [(ngModel)]="spindle.Power" >
                    </div>                    
                </div>
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtTorque" ><span>{{'Torque' | translate}}</span><span>{{ msrv_appsetting.Units =='M' ? ' (Nm)' : ' (Lbf X Ft)' }}</span></label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtTorque" name="txtTorque" [(ngModel)]="spindle.Torque" >
                    </div>
                </div>                  
                         
                <div class="form-group row pt-2" *ngIf="!(MachineType=='Lathe' || MachineType=='Swiss type' || MachineType=='Multi spindle') && !(MachineType=='Multi task' && spindle.SpindleType=='M')">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtFaceCont">{{'Face Contact Connection' | translate}}</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline ml-3 pt-1">
                        <input type="checkbox" class="custom-control-input"  [attr.id]="'optFaceContact' + spindle.SpindleType"  name="optFaceContact"  [(ngModel)]="spindle.FaceContact">
                        <label class="custom-control-label" [attr.for]="'optFaceContact' + spindle.SpindleType"></label>
                    </div>
                </div>
                <div class="border-top pt-3 mt-2 pr-2 mr-2">

                </div>
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtPartFixtureStability" >{{'Part Fixture Stability' | translate}}</label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <select class="form-control-sm" [ngModel]="spindle.ClampingType" >
                            <option value='unrigid'>unrigid</option>
                            <option value='Fair'>Fair</option>                            
                            <option value='Rigid'>Rigid</option>                            
                        </select>                                
                    </div>
                </div>
                <div class="pt-1 pr-2 mr-2">

                </div>  
             </div>                       
        </div>        
        <div class="col-12 col-lg-4 col-xl-4 col-sm-12 border-bottom p-2">                          
             <!-- <div class="text-center">
                <label  class="siteTitle pl-3 pt-2">{{DescSpindle | translate}}</label>
             </div> -->
             <div class="pt-4">

            </div>
              <div class="pt-3">
                <label class="pl-3 pb-0 mb-0 font-weight-bold">{{spindle.SpindleType=='M'?'Turret (Stationary Tools)':'Tool Holder' | translate }}</label>              
                <div class="form-group row pt-3">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtAdaptationType"  >{{'Adaptation Type' | translate}}</label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'"  *ngIf="isLoadingAdSize">            
                        <select class="form-control-sm" name="slcApatType" [(ngModel)]="curAdapType" (change)="changeadaptype()" >
                            <option  *ngFor="let adaptype of arrAdapType"  [ngValue]="adaptype">{{adaptype.AdaptationType}}</option>
                        </select>                    
                    </div>
                </div>  
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtAdaptationSize" >{{'Adaptation Size' | translate}}</label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'"  *ngIf="isLoadingAdSize">
                        <select  class="form-control-sm"   [(ngModel)]="curAdapSize" (change)="changeadapsize()">
                            <option *ngFor="let adapsize of arrAdapSizeFilter" [ngValue]="adapsize">{{adapsize.AdaptationSize}}</option>
                        </select>                                
                    </div>
                </div>
                <div class="form-group row pt-2" *ngIf="MachineType!='Lathe'">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtMaxCutFeedSpeed"><span>{{'Maximum Cutting Feed Speed' | translate }}</span><span>{{ msrv_appsetting.Units =='M' ? ' (mm/rev)' : ' (ipm)' }}</span></label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtMaxCutFeedSpeed" name="txtMaxCutFeedSpeed" [(ngModel)]="spindle.MaxCutFeedSpeed" > 
                    </div>
                </div> 
                <div class="form-group row pt-2" *ngIf="MachineType=='Lathe'">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label><span>{{'Machine Feed Rate' | translate }}</span><span>{{ msrv_appsetting.Units =='M' ? ' (mm/min)' : ' (ipr)' }}</span></label>
                    </div>
                    <div  [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control"  [(ngModel)]="spindle.MaxFeedRate" > 
                    </div>
                </div> 
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtMaxRapidFeedSpeed" ><span>{{'Maximum Rapid Feed Speed' | translate}}</span><span>{{ msrv_appsetting.Units =='M' ? ' (mm/min)' : ' (ipm)' }}</span></label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtMaxRapidFeedSpeed" name="txtMaxRapidFeedSpeed" [(ngModel)]="spindle.MaxRapidFeedSpeed" > 
                    </div>
                </div> 
                <div class="pt-4">

                </div>
           
            </div>                                       
        </div>
        <div class="col-12 col-lg-4 col-xl-4 col-sm-12 pl-2 border-bottom pl-2 pt-2 pb-2 pl-0">   
            <div class="pt-4">

            </div>         
            <div class="pt-2  border-left">
                <div  class="pt-2">
                    <label class="pl-3 pb-0 mb-0 font-weight-bold">{{'Coolant' | translate}}</label>
                </div>
                <div class="form-group row pt-3">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtEmultionPressure"><span>{{'Emulsion Pressure' | translate}}</span><span>{{ msrv_appsetting.Units =='M' ? ' (bar)' : ' (Psi)' }}</span></label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtEmultionPressure" name="txtEmultionPressure" [(ngModel)]="spindle.EmultionPressure" > 
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label for="txtEmultionFlowRate"><span>{{'Emulsion Flow Rate' | translate}}</span><span>{{ msrv_appsetting.Units =='M' ? ' (L/min)' : ' (Gpm)' }}</span></label>
                    </div>
                    <div [ngClass]="exportPDF?'col-5 pt-1':'col-4 pt-1'">
                        <input type="number" class="form-control" id="txtEmultionPressure" name="txtEmultionFlowRate" [(ngModel)]="spindle.EmultionFlowRate" > 
                    </div>
                </div>  
                <div class="form-group row pt-2">
                    <div  [ngClass]="exportPDF?'pt-1 col-7':'pt-1 col-8'">
                        <label ></label>
                    </div>
                    <div *ngIf="!exportPDF" class="col-2 col-sm-2 col-lg-2 col-xl-2 pt-1">
                        <label>{{'External' | translate}}</label>
                    </div>
                    <div *ngIf="exportPDF" class="col-2 col-sm-2 col-lg-2 col-xl-2 pt-1">
                        <label>{{'Ext' | translate}}</label>
                    </div>
                    <div *ngIf="!exportPDF" class="col-2 col-sm-2 col-lg-2 col-xl-2 pt-1">
                        <label>{{'Internal' | translate}}</label>
                    </div>
                    <div *ngIf="exportPDF" class="col-2 col-sm-2 col-lg-2 col-xl-2 pt-1">
                        <label>{{'Int' | translate}}</label>
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="txtEmultion" [ngClass]="exportPDF? 'col-7 col-sm-7' :'col-8 col-sm-8'">{{'Emulsion' | translate}}</label>
                    <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
                        <div class="custom-control custom-checkbox custom-control-inline ">
                            <input type="checkbox" class="custom-control-input" name="Emultion" [attr.id]="'chkEmultionExt' + spindle.SpindleType"   [(ngModel)]="spindle.ExtEmultion">
                            <label class="custom-control-label" [attr.for]="'chkEmultionExt' + spindle.SpindleType"></label>
                        </div>
                    </div>
                    <div  class="col-3 col-sm-3 col-lg-2 col-xl-2">                    
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  name="Emultion" [attr.id]="'chkEmultionInt' + spindle.SpindleType"  [(ngModel)]="spindle.IntEmultion">
                            <label class="custom-control-label"  [attr.for]="'chkEmultionInt' + spindle.SpindleType"></label> 
                        </div>
                    </div>        
                </div>
                <div class="form-group row">
                    <label for="txtAirBlast" [ngClass]="exportPDF? 'col-7 col-sm-7' :'col-8 col-sm-8' ">{{'Air Blast' | translate}}</label>
                    <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  [attr.id]="'optAirBlastExt'+spindle.SpindleType"  name="AirBlast" [(ngModel)]="spindle.ExtAirBlast">
                            <label class="custom-control-label" [attr.for]="'optAirBlastExt' + spindle.SpindleType"></label>
                        </div>
                    </div>
                    <div  class="col-2 col-sm-2 col-lg-2 col-xl-2">                    
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" [attr.id]="'optAirBlastInt' + spindle.SpindleType"  name="AirBlast" [(ngModel)]="spindle.IntAirBlast">
                            <label class="custom-control-label" [attr.for]="'optAirBlastInt' + spindle.SpindleType"></label> 
                        </div>
                    </div>        
                </div> 
               
                <div class="form-group row">
                    <label for="txtMQL" [ngClass]="exportPDF? 'col-7 col-sm-7' :'col-8 col-sm-8'">MQL</label>
                    <div class="col-2 col-sm-2 col-lg-2 col-xl-2 ">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  [attr.id]="'optMQLExt' + spindle.SpindleType"  name="optMQL" [(ngModel)]="spindle.ExtMQL">
                            <label class="custom-control-label" [attr.for]="'optMQLExt' + spindle.SpindleType"></label>
                        </div>
                    </div>
                    <div  class="col-2 col-sm-2 col-lg-2 col-xl-2">                    
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  [attr.id]="'optMQLInt' + spindle.SpindleType"  name="optMQL" [(ngModel)]="spindle.IntMQL">
                            <label class="custom-control-label"  [attr.for]="'optMQLInt' + spindle.SpindleType"></label> 
                        </div>
                    </div>        
                </div> 
                <div class="form-group row" *ngIf="(MachineType=='Swiss type' || MachineType=='Multi spindle')">
                    <label for="txtOil" [ngClass]="exportPDF? 'col-7 col-sm-7' :'col-8 col-sm-8'">Oil</label>
                    <div class="col-2 col-sm-2 col-lg-2 col-xl-2 ">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  [attr.id]="'optOilExt' + spindle.SpindleType"  name="optOil" [(ngModel)]="spindle.ExtOil">
                            <label class="custom-control-label" [attr.for]="'optOilExt' + spindle.SpindleType"></label>
                        </div>
                    </div>
                    <div  class="col-2 col-sm-2 col-lg-2 col-xl-2">                    
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input"  [attr.id]="'optOilInt' + spindle.SpindleType"  name="optOil" [(ngModel)]="spindle.IntOil">
                            <label class="custom-control-label"  [attr.for]="'optOilInt' + spindle.SpindleType"></label> 
                        </div>
                    </div>        
                </div> 
              <!--   <div class="pt-4">

                </div>  -->
            </div>
        </div>
    </div>
</div>     
<!-- <div class="break-page"></div> -->
<div class="form-group row ml-0 pl-0 pt-2 ">
    <div [ngClass]="exportPDF?'col-12 col-md-12 col-sm-12 col-lg-5 col-xl-5 border-right':'col-12 col-md-12 col-sm-12 col-lg-12 col-xl-6 border-right'">
        <app-item-machine-spindle-chart [exportPDF]="exportPDF" [events]="eventsSubject.asObservable()" [AdaptationType]="curAdapType" [AdaptationSize]="curAdapSize" [SpindleSpeed]=spindle.SpindleSpeed [Torque]=spindle.Torque  [typeChart]="'torque'" [spindle]=spindle (N3Changed)="onSpindleSpeedChanged($event)" 
         (P2T1Changed)="onPTChanged($event)" (SpindelChanged)="onSpindleChanged($event)">torque</app-item-machine-spindle-chart>
    </div>
    <div  [ngClass]="exportPDF?'col-12 col-md-12 col-sm-12 col-lg-5 col-xl-5':'col-12 col-md-12 col-sm-12 col-lg-12 col-xl-6'">
        <app-item-machine-spindle-chart  [exportPDF]="exportPDF" [events]="eventsSubject.asObservable()" [AdaptationType]="curAdapType" [AdaptationSize]="curAdapSize" [SpindleSpeed]=spindle.SpindleSpeed [Power]=spindle.Power  [typeChart]="'power'" [spindle]=spindle  (N3Changed)="onSpindleSpeedChanged($event)" 
         (P2T1Changed)="onPTChanged($event)" (SpindelChanged)="onSpindleChanged($event)">power</app-item-machine-spindle-chart>
    </div>
</div>