
@import "bootstrap";

.ImgMachineType{
    height: 100px;
    padding:5px;    
    }

.desc-machine
{
    color: var(--btn-bg-select-color);  
}

.desc-machine-bold
{
    color: var(--btn-bg-select-color);
    font-weight:bold;
    font-size: 15px;
}
