
              <div class="pb-2">
                <h3 class="siteTitle mb-0 pl-2">{{'My Materials' | translate}}</h3>
              </div>
      <div class="divst">
        <table  datatable [dtTrigger]="dtTriggerMat" [dtOptions]="dtOptionsMat" class="table table-stripe row-border hover" >
          <thead >
            <tr id="dtOptionsMat">
              <th><label>{{'ISO' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th><label>{{'Group' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th><label>{{'Material Name' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th><label>{{'Standard' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th><label>{{'Condition' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th><label>{{'Hardness' | translate}}<span class="sort-icon ml-1"></span></label></th>
              <th class="no-sort" *ngIf="environment.internal"></th>
              <th class="no-sort" *ngIf="environment.internal"></th>
              <th class="d-none"></th>
            </tr>
          </thead>
          <tbody>   
              <tr *ngFor="let material of materialsResultSorted" [className]="(material.FavName == selectedMaterial)? 'tr-selected' : 'tr-not-selected'">      
                  <td><label class="bold font-weight-bold m-1 categLabel" [title]="material.Category">{{material.Category}}</label></td>
                  <td>{{material.group}}</td>
                  <td>{{material.FavName}}</td>
                  <td>{{material.Standard}}</td>
                  <td>{{material.Condition}}</td>
                  <td><img *ngIf="environment.internal" src="{{environment.ImgEditParams}}" title="Edit" (click)="openEditParamsM(material)" class="icon-edit">{{material.Hardness + " "}}  {{material.HardnessUnits?material.HardnessUnits:'HB' | translate}}</td>
                  <td *ngIf="environment.internal">
                         <img src="{{environment.ImgFavorite}}" (click)="openAddToFavM(material)" title="Edit My Material" class="icon-grid">
                  </td>
                  <td *ngIf="environment.internal">
                    <div>
                    <button [className]="(material.FavName == selectedMaterial)? 'col-12 btn btn-select-selected' : 'col-12 btn btn-select'" (click)="OnSelectMaterial(material)" [routerLink]="'/home/machining-operation'">Select</button>
                    </div>
                  </td>  
                  <td class="d-none">{{material.Hardness}}</td>        
              </tr>
          </tbody>
        </table>
     
      </div>


      <!-- <ngx-spinner  bdColor="rgba(0, 0, 0, 0.08)"  
      bdOpacity ="0.05"
      size="medium"
      color="#676767"
      type="ball-circus">    
      <p style="color:#676767">{{'Please wait while ITA is processing your request.' | translate}} </p> 
    </ngx-spinner>    -->