
    .table td:not([data-value*="________"]):hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }

    .table th:hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }

    .table td, .table th{
      border-right: 2px solid #dee2e6;
      border-top:none;
    }

    .table td{
      background-color: var(--bg-gray);
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  table {
    table-layout: fixed !important;
    width: 100% !important;
  }
  .dataTables_scrollHeadInner{
    width: 100% !important;
  }
//   .table td, .table th{
//     width: 12.5% !important;
// }
    // .td-hover:hover{
    //   background-color: black !important; 
    // }
    
      // .table td:nth-of-type(1){
      //   background-color: #b5c4da;
      // } 
          
    
