
    .table td:not([data-value*="________"]):hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }

    .table th:hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }
    // .td-hover:hover{
    //   background-color: black !important; 
    // }
    
      // .table td:nth-of-type(1){
      //   background-color: #b5c4da;
      // } 
          
    
