.table thead th[title*="P"]{
    background-color: var(--bg-mat-P);
    }

   .table thead th[title*="M"]{
    background-color: var(--bg-mat-M);
    }

    .table thead th[title*="K"]{
     background-color: var(--bg-mat-K);
    }

    .table thead th[title*="N"]{
     background-color: var(--bg-mat-N);
    }

    .table thead th[title*="S"]{
     background-color: var(--bg-mat-S);
     }

   .table thead th[title*="H"]{
     background-color: var(--bg-mat-H);
       }

     .table td, .table th{
        border-right: 2px solid #dee2e6;
        border-top: none;
        outline: none;
    } 

    .table td:not([data-value*="________"]):hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }

    .table th:hover{
      background-color: var(--bg-hover) !important; 
      cursor: pointer;
    }
    // .td-hover:hover{
    //   background-color: black !important; 
    // }
    
      // .table td:nth-of-type(1){
      //   background-color: #b5c4da;
      // } 
          
    
